<%= form_for @changeset, @action, [class: "basic_form"], fn f -> %>
  <%= if(@changeset.action) do %>
    <DIV class="alert alert-danger">
      <P>Oops, something went wrong! Please check the errors below.</P>
    </DIV>
  <% end %>

  <%=   hidden_input(f, :timezone,              value:       "Etc/UTC")          %>

  <%=          label(f, :e_mail)                                                 %>
  <%=     text_input(f, :e_mail,                placeholder: "E-mail")           %>
  <%=      error_tag(f, :e_mail,                @changeset)                      %>

  <%=          label(f, :preferred_username)                                     %>
  <%=     text_input(f, :preferred_username,    placeholder: "Username")         %>
  <%=      error_tag(f, :preferred_username,    @changeset)                      %>

  <%=          label(f, :password)                                               %>
  <%= password_input(f, :password,              placeholder: "Password")         %>
  <%=      error_tag(f, :password,              @changeset)                      %>

  <%=          label(f, :password_confirmation)                                  %>
  <%= password_input(f, :password_confirmation, placeholder: "Confirm Password") %>
  <%=      error_tag(f, :password_confirmation, @changeset)                      %>

  <DIV>
    <%= submit("Sign Up!") %>
  </DIV>
<% end %>

<SCRIPT type="text/javascript">
  document.getElementById("user_timezone").value = Intl.DateTimeFormat()
                                                       .resolvedOptions()
                                                       .timeZone;
</SCRIPT>
