<DIV class="form_container">
  <%= unless(@changeset.action) do %>
        <H1>
          New User
        </H1>
  <% end %>

  <%= render("form.html", Map.put(assigns, :action, Routes.auth_path(@conn, :create))) %>
</DIV>
