<H1>
  Show User
</H1>

<ul>

  <li>
    <strong>Preferred username:</strong>
    <%= @user.preferred_username %>
  </li>

  <li>
    <strong>E mail:</strong>
    <%= @user.e_mail %>
  </li>

  <li>
    <strong>Encrypted password:</strong>
    <%= @user.encrypted_password %>
  </li>

  <li>
    <strong>Confirmation token:</strong>
    <%= @user.confirmation_token %>
  </li>

  <li>
    <strong>Public key:</strong>
    <%= @user.public_key %>
  </li>

  <li>
    <strong>Private key:</strong>
    <%= @user.private_key %>
  </li>
</ul>
