<DIV class="form_container">
  <%= unless(@changeset.action) do %>
        <H1>
          Swanye
        </H1>
  <% end %>

  <%= form_for @changeset, Routes.auth_path(@conn, :authorize), [class: "basic_form"], fn f -> %>
    <%= if(@changeset.action) do %>
          <DIV class="alert alert-danger">
            <P>
              Oops, something went wrong! Please check the errors below.
            </P>
          </DIV>
    <%  end %>

    <%=          label(f, :preferred_username)                          %>
    <%=     text_input(f, :preferred_username, placeholder: "Username") %>
    <%=      error_tag(f, :preferred_username, @changeset)              %>

    <%=          label(f, :password)                                    %>
    <%= password_input(f, :password,           placeholder: "Password") %>
    <%=      error_tag(f, :password,           @changeset)              %>

    <DIV>
      <%= submit("Sign In!") %>
    </DIV>
  <% end %>
</DIV>
