<INPUT type="hidden" name="in_reply_to_post" value="<%= @replyActPubID %>">

<%  endNum = Kabare.Utils.KabareUtils.generate_unique_id(); %>
<%  cwcID  = "content_warning_checkbox_" <> endNum;         %>

<INPUT id="<%= cwcID %>" name="<%= cwcID %>"    tabindex="-1"                         type="checkbox" value="true">

<INPUT                   name="content_warning" placeholder="Write your warning here" type="text">

<LABEL for="<%= cwcID %>">
  CW
</LABEL>

<INPUT type="radio"         id="public_<%= endNum %>"
       name="privacy_level" value="public_post"<%=    if @privacyLevel === :public,   do: " checked", else: "" %>>
<INPUT type="radio"         id="unlisted_<%= endNum %>"
       name="privacy_level" value="unlisted_post"<%=  if @privacyLevel === :unlisted, do: " checked", else: "" %>>
<INPUT type="radio"         id="followers_<%= endNum %>"
       name="privacy_level" value="followers_post"<%= if @privacyLevel === :targeted, do: " checked", else: "" %>>
<DIV class="privacy">
  <%= render("site_parts/buttons/public-post.html",   altText: "Change post privacy"); %>
  <%= render("site_parts/buttons/unlisted-post.html", altText: "Change post privacy"); %>
  <%= render("site_parts/buttons/targeted-post.html", altText: "Change post privacy"); %>
</DIV>

<DIV class="privacy-selections">
  <LABEL for="public_<%= endNum %>">
    <%= render("site_parts/buttons/public-post.html", altText: "Public");   %>

    <DIV class="privacy-details">
      <DIV class="privacy-title">
        Public
      </DIV>

      <DIV class="privacy-description">
        Allow anyone to be able to see your post
      </DIV>
    </DIV>
  </LABEL>

  <LABEL for="unlisted_<%= endNum %>">
    <%= render("site_parts/buttons/unlisted-post.html", altText: "Unlisted"); %>

    <DIV class="privacy-details">
      <DIV class="privacy-title">
        Unlisted
      </DIV>

      <DIV class="privacy-description">
        Anyone can view but not in public timelines
      </DIV>
    </DIV>
  </LABEL>

  <LABEL for="followers_<%= endNum %>">
    <%= render("site_parts/buttons/targeted-post.html", altText: "Targeted"); %>

    <DIV class="privacy-details">
      <DIV class="privacy-title">
        Followers
      </DIV>

      <DIV class="privacy-description">
        <%= if(String.trim(@replyActPubID) !== "") do %>
              The audience of the post you're responding to can view
        <%  else %>
              Send this post to your followers, only
        <%  end %>
      </DIV>
    </DIV>
  </LABEL>
</DIV>

<TEXTAREA name="modal_editor" placeholder="Text here" rows="13" style="display: none;"></TEXTAREA>
