<SECTION id="new-image-post-editor" class="post-modal-container">
  <DIV class="v-center-outer">
    <DIV class="v-center-inner">
      <DIV class="overlay">
        <FORM action="/frontend/post"       class="popup"
              enctype="multipart/form-data" method="post">
          <INPUT name="_csrf_token"
                 type="hidden"
                 value="<%= Phoenix.Controller.get_csrf_token() %>">

          <DIV id="post-modal-caption-container">
            <DIV class="post-modal-caption-popup">
              <H3>
                Set Image Caption
              </H3>

              <B>
                Describe for the visually impaired
              </B>

              <TEXTAREA maxlength="1500"
                        onkeyup="document.getElementById('current-char-count')
                                         .innerHTML = this.value.length;"></TEXTAREA>

              <SPAN class="char-count">
                <SPAN id="current-char-count">0</SPAN> / 1500
              </SPAN>

              <DIV class="buttons">
                <BUTTON type="button"
                        class="cancel"
                        onclick="document.getElementById('post-modal-caption-container')
                                         .setAttribute('style', '');">
                  Cancel
                </BUTTON>

                <BUTTON type="button" class="apply">
                  Apply
                </BUTTON>
              </DIV>
            </DIV>
          </DIV>

          <DIV id="post-modal_images">
          </DIV>

          <BUTTON id="post-modal_add-image"
                  type="button"
                  onclick="let   lock   = false;
                           const images = document.getElementById('post-modal_images'),
                                 imgCon = document.createElement('div'),
                                 edtOvl = document.createElement('div'),
                                 delBut = document.createElement('div'),
                                 newImg = document.createElement('input'),
                                 imgCap = document.createElement('input'),
                                 nwDate = new Date().getTime(),
                                 evFunc = () => setTimeout(function() {
                                                             if(!lock) {
                                                               newImg.parentElement.remove();
                                                             }
                                                           }, 100);

                           edtOvl.className = 'edit-overlay';
                           edtOvl.innerHTML = 'Edit';
                           edtOvl.onclick   = function(e) {
                                                const cc = document.getElementById('post-modal-caption-container'),
                                                      t  = document.querySelector('#post-modal-caption-container ' +
                                                                                  '.post-modal-caption-popup '     +
                                                                                  'textarea'),
                                                      i  = imgCon.querySelector(':scope input[type=text]');

                                                t.value = i.value;
                                                document.getElementById('current-char-count')
                                                        .innerHTML = t.value.length;

                                                cc.setAttribute('style',
                                                                'opacity: 1; visibility: visible;');

                                                document.querySelector('#post-modal-caption-container ' +
                                                                       '.post-modal-caption-popup '     +
                                                                       '.buttons button.apply')
                                                        .onclick = function(e) {
                                                                     cc.setAttribute('style', '');

                                                                     i.value = t.value;
                                                                   };
                                              };

                           delBut.className = 'delete';
                           delBut.innerHTML = 'x';
                           delBut.onclick   = function(e) {
                                                this.parentElement.remove();
                                              };

                           newImg.type      = 'file';
                           newImg.name      = 'image' + nwDate;
                           newImg.accept    = '.gif,.jpg,.jpeg,.png,.svg';
                           newImg.onchange  = function(event) {
                                                lock = true;

                                                if(event.target.files    &&
                                                   event.target.files[0]) {
                                                  const reader = new FileReader();

                                                  reader.onload = function(e) {
                                                                    imgCon.setAttribute('style',
                                                                                        'background-image: url(' +
                                                                                        e.target.result + ')');
                                                                  };
                                                  reader.readAsDataURL(event.target.files[0]);
                                                }

                                                window.removeEventListener('focus',    evFunc);
                                                window.removeEventListener('touchend', evFunc);
                                              };
                           window.addEventListener('focus',    evFunc, { once: true });
                           window.addEventListener('touchend', evFunc, { once: true });

                           imgCap.type      = 'text';
                           imgCap.name      = 'caption' + nwDate;

                           imgCon.append(newImg);
                           imgCon.append(imgCap);
                           imgCon.append(edtOvl);
                           imgCon.append(delBut);
                           images.append(imgCon);

                           newImg.click();">
            <SVG xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 aria-hidden="true"
                 role="img"
                 width="1.3em"
                 height="1.3em"
                 preserveAspectRatio="xMidYMid meet"
                 viewBox="0 0 24 24">
              <PATH d="M23 4v2h-3v3h-2V6h-3V4h3V1h2v3h3zm-8.5 7a1.5 1.5 0 1 0-.001-3.001A1.5 1.5 0 0 0 14.5 11zm3.5 3.234l-.513-.57a2 2 0 0 0-2.976 0l-.655.73L9 9l-3 3.333V6h7V4H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-7h-2v3.234z"
                    fill="currentColor" />
            </SVG>&nbsp;Add Image
          </BUTTON>

          <%= render("site_parts/post_modals/form_editor-bits.html",
                     privacyLevel:  :public,
                     replyActPubID: ""); %>

          <A class="close" href="#close-modal">
            &times;
          </A>

          <BUTTON type="button" class="easyFormSubmit">
            Send
          </BUTTON>
        </FORM>
      </DIV>
    </DIV>
  </DIV>
</SECTION>
