<SCRIPT src="https://unpkg.com/easymde/dist/easymde.min.js">
</SCRIPT>
<SCRIPT src="/assets/easy-markdown-editor.js">
</SCRIPT>
<SCRIPT type="text/javascript">
  if('serviceWorker' in navigator) {
    window.addEventListener('load',
                            function() {
                              navigator.serviceWorker
                                       .register('/service-worker.js')
                                       .then(function(registration) {
                                               // Registration was successful
                                               console.log('Registered!');

                                               /*  https://www.creativebloq.com/how-to/build-a-progressive-web-app
                                               if(!registration.pushManager) {
                                                 console.log('No push notifications support.');

                                                 return false;
                                               }

                                               //To subscribe `push notification` from push manager
                                               registration.pushManager
                                                                      //Always show notification when received
                                                           .subscribe({ userVisibleOnly: true })
                                                           .then(function(subscription) {
                                                                   console.log('Subscribed.');
                                                                 })
                                                           .catch(function(error) {
                                                                    console.log('Subscription error: ',
                                                                                error);
                                                                  }); */
                                             },
                                             function(err) {
                                               // registration failed :(
                                               console.log('ServiceWorker registration failed: ',
                                                           err);
                                             })
                                       .catch(function(err) {
                                                console.log(err);
                                              });
                            });
  } else {
    console.log('service worker is not supported');
  }
</SCRIPT>
