<SECTION id="new-post-editor" class="post-modal-container">
  <DIV class="v-center-outer">
    <DIV class="v-center-inner">
      <DIV class="overlay">
        <FORM action="/frontend/post" class="popup" method="post">
          <INPUT name="_csrf_token" type="hidden" value="<%= Phoenix.Controller.get_csrf_token() %>">

          <INPUT name="title" placeholder="title" type="text">

          <%= render("site_parts/post_modals/form_editor-bits.html",
                     privacyLevel:  :public,
                     replyActPubID: ""); %>

          <A class="close" href="#close-modal">
            &times;
          </A>

          <BUTTON type="button" class="easyFormSubmit">
            Send
          </BUTTON>
        </FORM>
      </DIV>
    </DIV>
  </DIV>
</SECTION>
