<SECTION id="<%= @prefix <> "_carousel" %>" class="carousel"
         aria-label="carousel"              tabindex="0">
  <A class="carousel__close"
     href="#close-modal"
     onclick="document.getElementById('<%= @prefix <> "_carousel" %>')
                      .style
                      .display = 'none'">
    &times;
  </A>

  <DIV class="slides">
    <%= for({image, index} <- @images |> Enum.with_index) do %>
          <% count = index + 1 %>

          <DIV id="slide-<%= "#{@prefix}_#{count}" %>"
               class="slides-item noselect"
               tabindex="0"
               aria-label="slide <%= count %> of <%= length(@images) %>">
            <IMG src="<%= Kabare.URLs.URL.to_string(image.object.url) %>"
                 alt="<%= image.object.name %>"
                 title="<%= image.object.name %>"                         />
          </DIV>
    <%  end %>
  </DIV>

  <DIV class="carousel__nav">
    <%= for({_image, index} <- @images |> Enum.with_index) do %>
          <% count = index + 1 %>

          <A class="slider-nav"
             href="#slide-<%= "#{@prefix}_#{count}" %>"
             aria-label="Go to slide <%= count %>">
            <%= count %>
          </A>
    <%  end %>
  </DIV>
</SECTION>
