<%= if(@post.object_type !== "Tombstone") do %>
<% creator         = Enum.at(@post.actor_attributees, 0); %>
<% icons           = Enum.filter(creator.object.images || [], &(&1.is_icon)); %>
<% images          = Enum.filter(creator.object.images || [], &(!&1.is_icon)); %>
<% privacyLevel    = cond do
                       Enum.any?(@post.addressing_to_collections,
                                 &(Kabare.Utils
                                         .DatabaseUtils
                                         .to_ap_id(&1.addressee) === "https://www.w3.org/ns/activitystreams#Public" &&
                                   &1.addressing_type            === "to")) -> :public;
                       Enum.any?(@post.addressing_to_collections,
                                 &(Kabare.Utils
                                         .DatabaseUtils
                                         .to_ap_id(&1.addressee) === "https://www.w3.org/ns/activitystreams#Public" &&
                                   &1.addressing_type            === "cc")) -> :unlisted;
                       true                                                 -> :targeted;
                     end %>

<%= Enum.map(@post.replied_to_posts,
             &(render("site_parts/inner-post_template.html", user: @user,
                                                             post: &1,
                                                             init: @init))) %>

<HEADER class="dash_post-info<%= if length(@post.replied_to_posts) > 0, do: " top-border", else: " first-in-thread" %>">
  <%= if(length(@post.replied_to_posts) < 1) do %>
        <A href="<%= Kabare.URLs.URL.to_string(@init.activity_pub_id) %>"
           role="button"
           target="_blank"
           aria-label="Permalink"
           title="View post"
           class="orig-post-anchor">
          <DIV class="orig-post-button">
          </DIV>
        </A>
  <%  end %>

  <A href="<%= Kabare.Utils.ActivityPubUtils.profile_page_path(creator) %>">
    <IMG class="icon" src="<%= if(length(icons) > 0) do
                                 Kabare.URLs.URL.to_string(Enum.at(icons, 0).object.url);
                               else
                                 "/images/missing.png";
                               end %>">
  </A>

  <DIV class="post-info">
    <A class="poster ellipsize"
       href="<%= Kabare.Utils.ActivityPubUtils.profile_page_path(creator) %>">
      <%= if(creator.object.name) do %>
            <B class="ellipsize"><%= creator.object.name %></B>&nbsp;
      <%  end %>

      <SPAN class="ellipsize"><%= Kabare.Utils
                                        .ActivityPubUtils
                                        .activity_pub_handle(creator) %>&#10;&#10;</SPAN>
    </A>

    <DIV class="timestamp ellipsize">
      <I class="ellipsize">
        <%= case privacyLevel do
              :public   -> render("site_parts/buttons/public-post.html",   altText: "Public");
              :unlisted -> render("site_parts/buttons/unlisted-post.html", altText: "Unlisted");
              :targeted -> render("site_parts/buttons/targeted-post.html", altText: "Targeted");
            end %>

        <%= if(@post.published) do %>
          <%  pub = if(@user) do
                      Timex.Timezone.convert(@post.published, @user.timezone);
                    else
                      @post.published;
                    end; %>
          <%= Calendar.strftime(pub, "%a: %B %d, %Y ") %>&ndash; <A href="<%= Kabare.Utils.ActivityPubUtils.post_page_path(@post) %>"><%= Calendar.strftime(pub, "%I:%M:%S %p") %></A>
        <%  end %>
      </I>
    </DIV>
  </DIV>
</HEADER>

<ARTICLE class="dash_post-content"
         data-users="<%= Kabare.Utils.ActivityPubUtils.activity_pub_handle(creator) %>">
  <%= if(@post.summary) do %>
        <% cwCheckboxID = "content-warning-checkbox_"                   <>
                          Integer.to_string(@post.ap_id)                <>
                          Kabare.Utils.KabareUtils.generate_unique_id(); %>
        <INPUT type="checkbox"
               id="<%= cwCheckboxID %>"
               class="cwci">

        <SPAN class="content-warning">
          <%= @post.summary %>
        </SPAN>

        <LABEL for="<%= cwCheckboxID %>"
               class="cwcl noselect"
               tabindex="0">
          <SPAN class="show">
            Show Post
          </SPAN>

          <SPAN class="hide">
            Hide Post
          </SPAN>
        </LABEL>

        <HR />
  <%  end %>

  <DIV>
    <%= if(length(@post.video_attachments) > 0) do %>
      <%= for(video <- @post.video_attachments) do %>
            <VIDEO width="100%"
                   class="video-attachment"
                   title="<%= video.object.name %>"
                   aria-label="<%= video.object.name %>" controls>
              <SOURCE src="<%= Kabare.URLs.URL.to_string(video.object.url) %>"
                      type="<%= video.object.media_type %>">

              Your browser does not support the video tag.
            </VIDEO>
      <%  end %>
    <%  end %>

    <%= if(length(@post.image_attachments) > 0) do %>
          <DIV class="post-images <%= case length(@post.image_attachments) do
                                        1 -> "one";
                                        3 -> "three";
                                        _ -> "general";
                                      end %>">
            <% process_focal = fn(point, invert) ->
                                 50 |> Decimal.mult(if(Decimal.lt?(point, 0)) do
                                                      Decimal.sub(1, Decimal.abs(point));
                                                    else
                                                      Decimal.add(1, point);
                                                    end)
                                    |> Decimal.sub(if invert, do: 100, else: 0)
                                    |> Decimal.abs();
                               end; %>
            <%  prefix = Kabare.Utils.KabareUtils.generate_unique_id(); %>
            <%= for({image, index} <- @post.image_attachments |> Enum.with_index) do %>
                  <A href="#slide-<%= "#{prefix}_#{index + 1}" %>"
                     onclick="document.getElementById('<%= prefix <> "_carousel" %>')
                                      .style
                                      .display = 'inherit'">
                    <IMG src="<%= Kabare.URLs.URL.to_string(image.object.url) %>"
                         alt="<%= image.object.name %>"
                         title="<%= image.object.name %>"
                         <%= if(image.focal_point_x && image.focal_point_y) do %>
                               style="object-position: <%= process_focal.(image.focal_point_x, false) %>%
                                                       <%= process_focal.(image.focal_point_y, true)  %>%"
                         <%  end %> />
                  </A>
            <%  end %>

            <%= render("site_parts/carousel.html",
                       prefix: prefix,
                       images: @post.image_attachments); %>
          </DIV>
    <%  end %>

    <%= if(@post.name) do %>
          <H1>
            <%= @post.name %>
          </H1>
    <%  end %>

    <%= raw(@post.content) %>
  </DIV>
</ARTICLE>

<%= render("site_parts/post-editor.html",
           privacyLevel:  privacyLevel,
           activityPubID: Kabare.URLs.URL.to_string(@post.activity_pub_id)); %>

<FOOTER class="dash_post-interactions">
  <%= render("site_parts/buttons/chat-button.html",
             enableInteraction: true,
             hasBeenSeen:       true,
             inbox:             nil,
             activityPubID:     nil,
             username:          nil,
             creatorActPubID:   nil,
             classToSwitchTo:   "comment-icon_clicked",
             action:            "do") %>

  <!-- reblog button -->
  <%= if(@user && (privacyLevel     !== :targeted            ||
                   creator.actor_id === @user.actor.actor_id)) do %>
    <% postIsReblogged = Enum.member?(Enum.map(@user.actor.shares.object_items,
                                               &(&1.db_id)),
                                      @post.db_id);                               %>
    <%= render("site_parts/buttons/reblog-button.html",
               enableInteraction: true,
               hasBeenSeen:       true,
               inbox:             Kabare.Utils.DatabaseUtils.to_ap_id(creator.inbox),
               activityPubID:     Kabare.URLs.URL.to_string(@post.activity_pub_id),
               username:          creator.preferred_username,
               creatorActPubID:   Kabare.Utils.DatabaseUtils.to_ap_id(creator),
               classToSwitchTo:   unless(postIsReblogged) do
                                    "reblog-icon_clicked"
                                  else
                                    "reblog-icon_unclicked"
                                  end,
               action:            (unless postIsReblogged, do: "do", else: "undo")); %>
  <%  end %>

  <!-- like button -->
  <%= if(@user) do %>
    <% postIsLiked = Enum.member?(Enum.map(@user.actor.liked.object_items,
                                           &(&1.db_id)),
                                  @post.db_id);                              %>
    <%= render("site_parts/buttons/like-button.html",
               enableInteraction: true,
               hasBeenSeen:       true,
               inbox:             Kabare.Utils.DatabaseUtils.to_ap_id(creator.inbox),
               activityPubID:     Kabare.URLs.URL.to_string(@post.activity_pub_id),
               classToSwitchTo:   unless(postIsLiked) do
                                    "like-icon_clicked"
                                  else
                                    "like-icon_unclicked"
                                  end,
               action:            (unless postIsLiked, do: "do", else: "undo")); %>
  <%  end %>

  <!-- delete button -->
  <%= if(@user && @user.user_id === creator.actor_id) do %>
    <%= render("site_parts/buttons/delete-button.html",
               activityPubID:   Kabare.URLs.URL.to_string(@post.activity_pub_id)); %>
  <%  end %>
</FOOTER>
<%  end %>
