<NAV class="dash_settings_nav">
  <A id="home_icon"
     class="<%= if @page === :dash, do: "highlighted-page-icon", else: "" %>"
     href="/">
    <%= render("site_parts/buttons/home-button.html"); %>

    <DIV style="display: none">
      0
    </DIV>
  </A>

  <%= render("site_parts/buttons/explore-button.html"); %>

  <%= render("site_parts/buttons/ask-button.html"); %>

  <%= render("site_parts/buttons/message-button.html"); %>

  <A id="notifications_icon"
     class="<%= if @page === :notifications, do: "highlighted-page-icon", else: "" %>"
     href="/settings/notifications">
    <%= render("site_parts/buttons/notifications-button.html"); %>

    <% notifs = if @user, do: Enum.reject(@user.notifications, &(&1.has_been_seen)), else: [] %>
    <DIV style="<%= if length(notifs) > 0, do: "", else: "display: none" %>">
      <%= length(notifs) %>
    </DIV>
  </A>

  <A class="<%= if @page === :settings, do: "highlighted-page-icon", else: "" %>"
     href="/settings/account">
    <%= render("site_parts/buttons/profile-button.html"); %>
  </A>
</NAV>

<%= form_for @conn, Routes.search_path(@conn, :search), [method: :get], fn f -> %>
  <%= text_input(f, :terms, placeholder: "Search…") %>
<%  end %>
