<% creator = Enum.at(@postActivity.actors, 0); %>
<% icons   = Enum.filter(creator.object.images || [], &(&1.is_icon)); %>
<% images  = Enum.filter(creator.object.images || [], &(!&1.is_icon)); %>

<DIV id="<%= @postActivity.object.ap_id %>" class="dash_post-container">
  <A href="<%= Kabare.Utils.ActivityPubUtils.profile_page_path(creator) %>">
    <IMG class="activity-actor-icon"
         src="<%= if(length(icons) > 0) do
                    Kabare.URLs.URL.to_string(Enum.at(icons, 0).object.url);
                  else
                    "/images/missing.png";
                  end %>">
  </A>

  <DIV class="dash_post">
    <%= if(@postActivity.object.object_type === "Announce") do %>
          <ASIDE class="dash_post-reblog-info">
            <A href="<%= Kabare.Utils.ActivityPubUtils.profile_page_path(creator) %>">
              <IMG class="reblog-info-icon"
                   src="<%= if(length(icons) > 0) do
                              Kabare.URLs.URL.to_string(Enum.at(icons, 0).object.url);
                            else
                              "/images/missing.png";
                            end %>">
            </A>

            <DIV class="reblog-info">
              <A class="reblog-info-poster ellipsize"
                 href="<%= Kabare.Utils.ActivityPubUtils.profile_page_path(creator) %>">
                <B class="ellipsize">
                  <%= if(creator.object.name) do %>
                        <%= creator.object.name %>
                  <%  else %>
                        <%= creator.preferred_username %>
                  <%  end %>
                </B>
              </A>

              <% originator = List.first(@postActivity.acted_upon_object
                                                      .actor_attributees); %>
              <DIV class="reblog-info-reblogged-from ellipsize">
                <%= render("site_parts/buttons/reblog-button.html",
                           enableInteraction: false,
                           hasBeenSeen:       true,
                           inbox:             nil,
                           activityPubID:     nil,
                           username:          nil,
                           creatorActPubID:   nil,
                           classToSwitchTo:   "reblog-icon_clicked",
                           action:            nil); %>

                <A href="<%= Kabare.Utils.ActivityPubUtils.profile_page_path(originator) %>">
                  <%= originator.preferred_username %>
                </A>
              </DIV>
            </DIV>
          </ASIDE>
    <%  end %>

    <%= render("site_parts/inner-post_template.html", user: @user,
               post: @postActivity.acted_upon_object, init: @postActivity.acted_upon_object); %>
  </DIV>
</DIV>
