<FORM action="/frontend/post" class="post-editor"
      method="post"           phx-update="ignore">
  <INPUT name="_csrf_token"
         type="hidden"
         value="<%= Phoenix.Controller.get_csrf_token() %>">

  <INPUT name="title" type="hidden" value="">

  <%= render("site_parts/post_modals/form_editor-bits.html",
             privacyLevel:  @privacyLevel,
             replyActPubID: @activityPubID); %>

  <DIV class="confirm-or-decline">
    <BUTTON type="button"
            class="cancel"
            onclick="this.parentElement.parentElement.classList.remove('show');
                     this.parentElement.parentElement.nextElementSibling.classList.remove('hide');">
			Cancel
		</BUTTON>

    <BUTTON type="button" class="send easyFormSubmit">
      Send
    </BUTTON>
  </DIV>
</FORM>
