<DIV class="dash_side">
  <A class="dash_button" href="#new-post-editor">
    <P>
      Aa
    </P>

    <DIV>
      Text
    </DIV>
  </A>

  <A class="dash_button" href="#new-image-post-editor">
    <SVG viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
      <PATH fill="#fff" d="M7 5H6a1 1 0 0 0-1 1h3a1 1 0 0 0-1-1z" />

      <CIRCLE fill="#fff" cx="15" cy="15" r="5" />

      <PATH fill="#fff" d="M26 7h-4.264a2 2 0 0 1-1.789-1.106l-.394-.789A2.002 2.002 0 0 0 17.764 4h-5.528a2 2 0 0 0-1.789 1.106l-.394.789A2.002 2.002 0 0 1 8.264 7H4a2 2 0 0 0-2 2v13a2 2 0 0 0 2 2h22a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM15 22c-3.86 0-7-3.14-7-7s3.14-7 7-7 7 3.14 7 7-3.14 7-7 7zm9-11a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </SVG>

    <DIV>
      Photo
    </DIV>
  </A>

  <DIV class="dash_button">
    <SVG xmlns="http://www.w3.org/2000/svg" height="1792"
         viewBox="0 0 1792 1792"            width="1792">
      <PATH fill="#FFFFFF"
            d="M832 320v704q0 104-40.5 198.5t-109.5 163.5-163.5 109.5-198.5 40.5h-64q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h64q106 0 181-75t75-181v-32q0-40-28-68t-68-28h-224q-80 0-136-56t-56-136v-384q0-80 56-136t136-56h384q80 0 136 56t56 136zm896 0v704q0 104-40.5 198.5t-109.5 163.5-163.5 109.5-198.5 40.5h-64q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h64q106 0 181-75t75-181v-32q0-40-28-68t-68-28h-224q-80 0-136-56t-56-136v-384q0-80 56-136t136-56h384q80 0 136 56t56 136z" />
    </SVG>

    <DIV>
      Quote
    </DIV>
  </DIV>

  <DIV class="dash_button">
    <SVG xmlns="http://www.w3.org/2000/svg" width="80"
         viewBox="0 0 80 80"                height="80">
      <PATH fill="#FFFFFF"
            d="M29.298 63.471l-4.048 4.02c-3.509 3.478-9.216 3.481-12.723 0-1.686-1.673-2.612-3.895-2.612-6.257s.927-4.585 2.611-6.258l14.9-14.783c3.088-3.062 8.897-7.571 13.131-3.372a4.956 4.956 0 1 0 6.985-7.034c-7.197-7.142-17.834-5.822-27.098 3.37L5.543 47.941C1.968 51.49 0 56.21 0 61.234s1.968 9.743 5.544 13.292C9.223 78.176 14.054 80 18.887 80c4.834 0 9.667-1.824 13.348-5.476l4.051-4.021a4.955 4.955 0 0 0 .023-7.009 4.96 4.96 0 0 0-7.011-.023zM74.454 6.044c-7.73-7.67-18.538-8.086-25.694-.986l-5.046 5.009a4.958 4.958 0 0 0 6.986 7.034l5.044-5.006c3.707-3.681 8.561-2.155 11.727.986a8.752 8.752 0 0 1 2.615 6.258 8.763 8.763 0 0 1-2.613 6.259l-15.897 15.77c-7.269 7.212-10.679 3.827-12.134 2.383a4.957 4.957 0 0 0-6.985 7.034c3.337 3.312 7.146 4.954 11.139 4.954 4.889 0 10.053-2.462 14.963-7.337l15.897-15.77C78.03 29.083 80 24.362 80 19.338c0-5.022-1.97-9.743-5.546-13.294z" />
    </SVG>

    <DIV>
      Link
    </DIV>
  </DIV>

  <DIV class="dash_button">
    <SVG xmlns="http://www.w3.org/2000/svg" width="500"
         viewBox="0 0 500 500"              height="500">
      <PATH clip-rule="evenodd" fill="#FFFFFF"
            fill-rule="evenodd" d="M36.992 326.039c0 20.079 16.262 36.34 36.34 36.34h54.513v56.062c0 10.087 8.181 18.168 18.172 18.168 5.092 0 9.714-2.095 12.989-5.448l68.78-68.781h199.881c20.078 0 36.34-16.261 36.34-36.34V98.902c0-20.079-16.262-36.341-36.34-36.341H73.333c-20.079 0-36.34 16.262-36.34 36.341v227.137zm109.026-104.482c0-12.536 10.177-22.713 22.713-22.713 12.536 0 22.713 10.177 22.713 22.713 0 12.537-10.177 22.713-22.713 22.713-12.537 0-22.713-10.177-22.713-22.713zm81.769 0c0-12.536 10.177-22.713 22.713-22.713 12.537 0 22.715 10.177 22.715 22.713 0 12.537-10.178 22.713-22.715 22.713-12.536 0-22.713-10.177-22.713-22.713zm81.769 0c0-12.536 10.176-22.713 22.715-22.713 12.537 0 22.711 10.177 22.711 22.713 0 12.537-10.174 22.713-22.711 22.713-12.54 0-22.715-10.177-22.715-22.713z" />
    </SVG>

    <DIV>
      Chat
    </DIV>
  </DIV>

  <DIV class="dash_button">
    <SVG xmlns="http://www.w3.org/2000/svg" width="96"
         viewBox="0 0 96 96"                height="96">
      <PATH fill="none"
            d="M-1-1h582v402H-1z" />

      <G>
        <PATH fill="#FFFFFF"
              d="M71.8 43.5L30.6 21.8c-1.9-1-4.2-.9-6 .2-1.6 1-2.6 2.7-2.6 4.5v41.3c0 1.8 1 3.5 2.6 4.5 1 .6 2.1.9 3.2.9 1 0 2-.2 2.8-.7l41.2-21.7c1.3-.7 2.2-2.1 2.2-3.6 0-1.6-.8-3-2.2-3.7z" />
      </G>
    </SVG>

    <DIV>
      Audio
    </DIV>
  </DIV>

  <DIV class="dash_button">
    <SVG xmlns="http://www.w3.org/2000/svg" width="24"
         viewBox="0 0 24 24"                height="24">
      <PATH fill="none" d="M-1-1h582v402H-1z" />

      <G>
        <PATH fill="#FFFFFF"
              d="M22.525 7.149C22.365 7.05 22.183 7 22 7c-.153 0-.306.035-.447.105L19 8.382V8c0-1.654-1.346-3-3-3H5C3.346 5 2 6.346 2 8v8c0 1.654 1.346 3 3 3h11c1.654 0 3-1.346 3-3v-.382l2.553 1.276c.141.071.294.106.447.106.183 0 .365-.05.525-.149.295-.183.475-.504.475-.851V8c0-.347-.18-.668-.475-.851zM7 13.5c-.829 0-1.5-.671-1.5-1.5s.671-1.5 1.5-1.5 1.5.671 1.5 1.5-.671 1.5-1.5 1.5z" />
      </G>
    </SVG>

    <DIV>
      Video
    </DIV>
  </DIV>
</DIV>
