<SECTION id="warning-modal" >
  <DIV>
    <DIV class="warning-text">
      <H3>
        Are you sure you want to delete this post?
      </H3>
    </DIV>

    <DIV class="warning-buttons">
      <BUTTON class="cancel">
        Cancel
      </BUTTON>

      <BUTTON class="affirm">
        O. K.
      </BUTTON>
    </DIV>
  </DIV>
</SECTION>
