<% images = Enum.filter(@viewedActor.object.images, &(!&1.is_icon)); %>

<HEADER class="profile_header<%= if(Enum.empty?(images)) do
                                   " no-landscape_top-margin";
                                 else
                                   "";
                                 end %>">
  <%= unless(Enum.empty?(images)) do %>
        <IMG id="landscape"
             src="<%= Kabare.URLs.URL.to_string(Enum.at(images, 0).object.url) %>">
  <%  end %>

  <%  icons = Enum.filter(@viewedActor.object.images, &(&1.is_icon)); %>
  <IMG id="icon" src="<%= if(Enum.empty?(icons)) do
                            "/images/missing.png";
                          else
                            Kabare.URLs.URL.to_string(Enum.at(icons, 0).object.url);
                          end %>">

  <%= if(@loggedInUser && @loggedInUser.user_id !== @viewedActor.actor_id) do %>
        <% userIsPending   = @loggedInUser.pending_followees |> Enum.map(&(&1.actor_id))
                                                             |> Enum.member?(@viewedActor.actor_id) %>
        <% userIsFollowing = @loggedInUser.followees         |> Enum.map(&(&1.actor_id))
                                                             |> Enum.member?(@viewedActor.actor_id) %>
        <BUTTON id="un_follow"
                onclick="var xhttp = new XMLHttpRequest();

                         xhttp.onreadystatechange = function() {
                                                      if(this.readyState == 4   &&
                                                         this.status     == 200) {
                                                        window.location.reload(false);
                                                      }
                                                    };
                         xhttp.open('POST', '/frontend/follow', true);
                         xhttp.setRequestHeader('Content-Type', 'application/json');
                         xhttp.send(JSON.stringify({ '_csrf_token': document.getElementById('meta-csrf')
                                                                            .getAttribute('content'),
                                                     'inbox'      : '<%= Kabare.Utils.DatabaseUtils.to_ap_id(@viewedActor.inbox) %>',
                                                     'object'     : '<%= Kabare.Utils.DatabaseUtils.to_ap_id(@viewedActor) %>',
                                                     'username'   : '<%= @viewedActor.preferred_username %>',
                                                     'action'     : '<%= if userIsFollowing or
                                                                            userIsPending,   do: "undo", else: "do" %>' }));">
          <%= if userIsFollowing, do: "Unfollow", else: if userIsPending, do: "Cancel Follow Request", else: "Follow" %>
        </BUTTON>
  <%  end %>
</HEADER>

<SECTION class="profile_body">
  <H1>
      <B>
        <%= @viewedActor.object.name %>
      </B>
    <BR />
      <SMALL>
        <%= Kabare.Utils.ActivityPubUtils.activity_pub_handle(@viewedActor, true); %>
      </SMALL>
  </H1>

  <DIV class="tabs">
    <A href="<%= if(@page === :profile) do
                   ""
                 else
                   "/@#{@viewedActor.preferred_username}" <>
                   if(@viewedActor.instance_authority === Kabare.Utils.ConfigUtils.instance_authority()) do
                     ""
                   else
                     "@#{@viewedActor.instance_authority}"
                   end
                 end %>"
       class="tab<%= if @page === :profile,   do: " selected", else: "" %>">
      Posts
    </A>

    <A href="<%= if(@page === :following) do
                   ""
                 else
                   "/@#{@viewedActor.preferred_username}" <>
                   if(@viewedActor.instance_authority === Kabare.Utils.ConfigUtils.instance_authority()) do
                     ""
                   else
                     "@#{@viewedActor.instance_authority}"
                   end                                    <>
                   "/following"
                 end %>"
       class="tab<%= if @page === :following, do: " selected", else: "" %>">
      Following
    </A>

    <A href="<%= if(@page === :followers) do
                   ""
                 else
                   "/@#{@viewedActor.preferred_username}" <>
                   if(@viewedActor.instance_authority === Kabare.Utils.ConfigUtils.instance_authority()) do
                     ""
                   else
                     "@#{@viewedActor.instance_authority}"
                   end                                    <>
                   "/followers"
                 end %>"
       class="tab<%= if @page === :followers, do: " selected", else: "" %>">
      Followers
    </A>
  </DIV>
</SECTION>
