<H3>
  Account &nbsp;Info.
</H3>

<DIV>
  <B>
    Summary
  </B>

  <HR>

  <DIV>
    <P class="align-left">
      <A href="<%= "/@#{@entity.preferred_username}" <>
                   if(@entity.instance_authority === Kabare.Utils.ConfigUtils.instance_authority()) do
                     ""
                   else
                     "@#{@entity.instance_authority}"
                   end                               <>
                   "/following" %>">
        Following
      </A>
    </P>

    <P class="align-right">
      <%= length(@entity.following.actor_items) %>
    </P>

    <DIV class="clear">
    </DIV>
  </DIV>

  <DIV>
    <P class="align-left">
      <A href="<%= "/@#{@entity.preferred_username}" <>
                   if(@entity.instance_authority === Kabare.Utils.ConfigUtils.instance_authority()) do
                     ""
                   else
                     "@#{@entity.instance_authority}"
                   end                               <>
                   "/followers" %>">
        Followers
      </A>
    </P>

    <P class="align-right">
      <%= length(@entity.followers.actor_items) %>
    </P>

    <DIV class="clear">
    </DIV>
  </DIV>

  <%= raw(@entity.object.summary) %>
</DIV>
