<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <%= render("site_parts/header/universal.html") %>

    <TITLE>
      Swanye · <%= case @page do
                     :settings      -> "Settings";
                     :notifications -> "Notifications";
                   end %> of &nbsp;<%= if(@user.actor.object.name) do
                                         @user.actor.object.name;
                                       else
                                         @user.actor.preferred_username;
                                       end %>
    </TITLE>

    <LINK rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/main_layout.css")     %>" />
    <%= if(@page === :settings) do %>
      <LINK rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/settings.css")      %>" />
    <%  end %>
    <%= if(@page === :notifications) do %>
      <LINK rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/notifications.css") %>" />
    <%  end %>

    <SCRIPT type="text/javascript">
      userToken = "<%= Phoenix.Token.sign(@conn, "user socket", @user.user_id) %>";
      userID    = "<%= @user.user_id %>";

      <%= if(@page === :notifications) do %>
            if(window.Notification && Notification.permission === "default") {
              Notification.requestPermission().then(function(result) {
                                                      console.log(result);
                                                    });
            }
      <%  end %>
    </SCRIPT>

    <SCRIPT defer type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>">
    </SCRIPT>
  </HEAD>

  <BODY>
    <%= render("site_parts/side_buttons.html") %>

    <DIV class="dash_settings">
      <%= render("site_parts/navigation.html", user: @user, page: @page, conn: @conn) %>
    </DIV>

    <DIV class="dash_main">
      <!-- <P class="alert alert-info"   role="alert"><%= get_flash(@conn, :info) %></P>
           <P class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></P> -->

      <%= @inner_content %>
    </DIV>
  </BODY>
</HTML>
