<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <%= render("site_parts/header/universal.html") %>

    <TITLE>
      Swanye · Phoenix Framework
    </TITLE>

    <LINK rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/main_layout.css") %>" />
    <LINK rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/posts.css")       %>" />
    <LINK rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/post_modal.css")  %>" />

    <SCRIPT type="text/javascript">
      userToken = "<%= Phoenix.Token.sign(@conn, "user socket", @user.user_id) %>";
      userID    = "<%= @user.user_id %>";
    </SCRIPT>

    <SCRIPT async type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>">
    </SCRIPT>
  </HEAD>

  <BODY>
    <%= render("site_parts/side_buttons.html") %>

    <DIV class="dash_settings">
      <%= live_render(@conn,
                      SwanyeWeb.NavigationLive.Index,
                      session: %{"user_id"            => (if @user, do: @user.user_id, else: -1),
                                 "notification_count" => if(@user) do
                                                           length(Enum.reject(@user.notifications,
                                                                              &(&1.has_been_seen)));
                                                         else
                                                           0;
                                                         end,
                                 "new_posts_count"    => 0,
                                 "page_type"          => @page_type}) %>

      <SECTION class="widget">
        <H3>
          Your &nbsp;Account
        </H3>

        <DIV class="ellipsize">
          <B>
            <%= @user.actor.preferred_username %>
          </B>

          <HR>

          <DIV>
            <P class="align-left">
              <A href="<%= Kabare.Utils.ActivityPubUtils.profile_page_path(@user) %>">
                Posts
              </A>
            </P>

            <P class="align-right">
              <%= Kabare.ActivityPubActivities.get_post_count_of_user(@user) %>
            </P>

            <DIV class="clear">
            </DIV>
          </DIV>

          <DIV>
            <P class="align-left">
              Liked Posts
            </P>

            <P class="align-right">
              <%= length(@user.actor.liked.object_items); %>
            </P>

            <DIV class="clear">
            </DIV>
          </DIV>
        </DIV>
      </SECTION>

      <%= live_render(@conn,
                      SwanyeWeb.NotificationsLive.Index,
                      session: %{"user"          => @user,
                                 "notifications" => @user.notifications}) %>
    </DIV>

    <!-- <P class="alert alert-info"   role="alert"><%= get_flash(@conn, :info) %></P> -->
    <!-- <P class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></P> -->

    <%= @inner_content %>

    <%= render("site_parts/warning-modal.html") %>
    <%= render("site_parts/post_modals/all-post_modal-dependencies.html", conn: @conn) %>
  </BODY>
</HTML>
