<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <%= render("site_parts/header/universal.html") %>

    <TITLE>
      Swanye · Phoenix Framework
    </TITLE>

    <LINK rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css")  %>" />
    <LINK rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/auth.css") %>" />
  </HEAD>

  <BODY>
    <P class="alert alert-info"   role="alert"><%= get_flash(@conn, :info) %></P>
    <P class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></P>
    <%= @inner_content %>
  </BODY>
</HTML>
