<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <%= render("site_parts/header/universal.html") %>

    <TITLE>
      Swanye · Users
    </TITLE>

    <LINK rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/main_layout.css") %>" />
    <LINK rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/users.css")       %>" />
    <LINK rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/post_modal.css")  %>" />

    <%= if(@loggedInUser) do %>
          <SCRIPT type="text/javascript">
            userToken = "<%= Phoenix.Token.sign(@conn, "user socket", @loggedInUser.user_id) %>";
            userID    = "<%= @loggedInUser.user_id %>";
          </SCRIPT>
    <%  end %>

    <SCRIPT defer type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>">
    </SCRIPT>
  </HEAD>

  <BODY>
    <%= render("site_parts/side_buttons.html") %>

    <DIV class="dash_settings">
      <%= render("site_parts/navigation.html", user: @loggedInUser, page: @page, conn: @conn) %>

      <SECTION id="sidebar_details" class="widget">
        <%= if(@page === :profile   or
               @page === :following or
               @page === :followers) do %>
          <%= render("site_parts/users/sidebar.html",
                     entity: @viewedActor,
                     user:   @loggedInUser); %>
        <%  end %>
      </SECTION>
    </DIV>

    <DIV class="dash_main">
      <!-- <P class="alert alert-info"   role="alert"><%= get_flash(@conn, :info) %></P>
           <P class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></P> -->

      <%= if(@page === :profile   or
             @page === :following or
             @page === :followers) do %>
        <%= render("site_parts/users/profiles_main.html", viewedActor:    @viewedActor,
                   loggedInUser: @loggedInUser,           postActivities: @postActivities, page: @page); %>
      <%  end %>

      <%= @inner_content %>
    </DIV>

    <%= render("site_parts/warning-modal.html") %>
    <%= render("site_parts/post_modals/all-post_modal-dependencies.html", conn: @conn) %>
  </BODY>
</HTML>
