<SVG width="30"          height="30"
     viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
  <PATH d="M16.189 16.521L27.463 6H2.537L13.81 16.521c.667.624 1.713.624 2.379 0zM8.906 14.68L1 7.301v15.285zM21.094 14.68L29 22.586V7.301z" />

  <PATH d="M19.631 16.045l-2.077 1.938c-.717.669-1.636 1.003-2.555 1.003s-1.838-.334-2.555-1.003l-2.077-1.938L2.414 24h25.172l-7.955-7.955z" />
</SVG>
