<SVG xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     aria-hidden="true"
     focusable="false"
     width="1.3em"
     height="1.3em"
     preserveAspectRatio="xMidYMid meet"
     viewBox="0 0 24 24"
     class="iconify icon-gridicons-comment <%= if(@classToSwitchTo === "comment-icon_clicked") do
                                               "comment-icon_unclicked";
                                             else
                                               "comment-icon_clicked"
                                             end %> <%= if(@hasBeenSeen) do
                                                          "seen";
                                                        else
                                                          "unseen";
                                                        end %>"
     data-inline="false"
     data-width="1.3em"
     data-height="1.3em"
     data-icon="gridicons-comment"
     style="transform: rotate(360deg);">
  <PATH d="M12 16l-5 5v-5H5c-1.1 0-2-.9-2-2V5c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2v9c0 1.1-.9 2-2 2h-7z">
  </PATH>
</SVG>
<!-- #707B97 -->
