<SVG xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     aria-hidden="true"
     focusable="false"
     width="1.3em"
     height="1.3em"
     preserveAspectRatio="xMidYMid meet"
     viewBox="0 0 24 24"
     class="iconify icon-gridicons-trash delete-icon"
     data-inline="false"
     data-width="1.3em"
     data-height="1.3em"
     data-icon="gridicons-trash"
     style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
     onclick="var xhttp                = new XMLHttpRequest(),
                  deleteButton         = this,
                  modal                = document.getElementById('warning-modal'),
                  modalButtonContainer = modal.children[0].children[1];

              xhttp.onreadystatechange = function() {
                                           if(this.readyState == 4   &&
                                              this.status     == 200) {
                                           } else if(this.readyState == 4) {
                                             deleteButton.parentNode
                                                         .parentNode
                                                         .parentNode
                                                         .style
                                                         .display = 'block';

                                             console.log(this.responseText);
                                           }
                                         };
              xhttp.open('POST', '/frontend/delete', true);
              xhttp.setRequestHeader('Content-Type', 'application/json');

              modal.style.display                      = 'flex';
              modalButtonContainer.children[0].onclick = function() {
                                                           modal.style.display = 'none';

                                                           modalButtonContainer.children[1].onclick = null;
                                                         };
              modalButtonContainer.children[1].onclick = function() {
                                                           deleteButton.parentNode
                                                                       .parentNode
                                                                       .parentNode
                                                                       .style
                                                                       .display = 'none';

                                                           xhttp.send(JSON.stringify({ '_csrf_token': document.getElementById('meta-csrf')
                                                                                                              .getAttribute('content'),
                                                                                       'objectID'   : '<%= @activityPubID %>'              }));

                                                           modal.style.display = 'none';
                                                         };">
  <PATH d="M6.187 8h11.625l-.695 11.125A2 2 0 0 1 15.12 21H8.88a2 2 0 0 1-1.997-1.875L6.187 8zM19 5v2H5V5h3V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h3zm-9 0h4V4h-4v1z" />
</SVG>
