<SVG height="512"          width="512"
     viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
  <PATH d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm0 336V256H128.3L352 160l-96 224z" />
</SVG>
