<%= if(@enableInteraction) do %>
  <SCRIPT type="text/javascript">
    function followOnclick(button, clazz, inbox, objectID, username) {
      var xhttp         = new XMLHttpRequest(),
          staticClasses = "iconify icon-gridicons-user-add ",
          othStcClasses = "iconify icon-gridicons-user ",
          reverseClass  = clazz  === "follow-icon_unclicked" ?
                          "follow-icon_clicked"              :
                          "follow-icon_unclicked",
          otherRevClass = clazz  === "follow-icon_unclicked" ?
                          "following-icon_unclicked"         :
                          "following-icon_clicked",
          otherClass    = clazz  === "follow-icon_unclicked" ?
                          "following-icon_clicked"           :
                          "following-icon_unclicked",
          otherButton   = button.parentElement
                                .querySelector(".icon-gridicons-user");

      function generateOnclick(useReverse) {
        return "followOnclick(this, '" + (useReverse ? reverseClass  : clazz)   + "', '" +
                                         inbox       + "', '"        + objectID + "', '" + username + "')";
      }
      function generateOtherClick(useReverse) {
        return "unfollowOnclick(this, '" + (useReverse ? otherRevClass : otherClass) + "', '" +
                                           inbox       + "', '"        + objectID    + "', '" + username + "')";
      }

      button.setAttribute("class",   staticClasses + clazz);
      button.setAttribute("onclick", generateOnclick(true));
      otherButton.setAttribute("class",   othStcClasses + otherClass);
      otherButton.setAttribute("onclick", generateOtherClick(true));

      xhttp.onreadystatechange = function() {
                                   if(this.readyState == 4   &&
                                      this.status     == 200) {
                                   } else if(this.readyState == 4) {
                                     button.setAttribute("class",   staticClasses +
                                                                    reverseClass);
                                     button.setAttribute("onclick",
                                                         generateOnclick(false));
                                     otherButton.setAttribute("class",   staticClasses +
                                                                         otherRevClass);
                                     otherButton.setAttribute("onclick",
                                                              generateOtherClick(false));

                                     console.log(this.responseText);
                                   }
                                 };
      xhttp.open("POST", "/frontend/follow", true);
      xhttp.setRequestHeader("Content-Type", "application/json");
      xhttp.send(JSON.stringify({"_csrf_token": document.getElementById("meta-csrf")
                                                        .getAttribute("content"),
                                 "inbox"      : inbox,
                                 "object"     : objectID,
                                 "username"   : username,
                                 "action"     : "do"                                 }));
    }
  </SCRIPT>
<%  end %>

<SVG xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     aria-hidden="true"
     focusable="false"
     role="img"
     width="1.3em"
     height="1.3em"
     preserveAspectRatio="xMidYMid meet"
     viewBox="0 0 24 24"
     class="iconify icon-gridicons-user-add <%= if(@classToSwitchTo === "follow-icon_clicked") do
                                                  "follow-icon_unclicked";
                                                else
                                                  "follow-icon_clicked"
                                                end %> <%= if(@hasBeenSeen) do
                                                             "seen";
                                                           else
                                                             "unseen";
                                                           end %>"
     data-inline="false"
     data-width="1.3em"
     data-height="1.3em"
     data-icon="gridicons-user-add"
     style="transform: rotate(360deg);"
     onclick="<%= if(@enableInteraction) do %>
                    followOnclick(this, '<%= @classToSwitchTo %>', '<%= @inbox %>',
                                        '<%= @activityPubID %>',   '<%= @username %>')
              <%  else %>
                    null
              <%  end %>">
  <CIRCLE cx="15" cy="8" r="4">
  </CIRCLE>

  <PATH d="M15 20s8 0 8-2c0-2.4-3.9-5-8-5s-8 2.6-8 5c0 2 8 2 8 2zM6 10V7H4v3H1v2h3v3h2v-3h3v-2z">
  </PATH>
</SVG>
