<SVG height="32"         width="32"
     viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
  <G>
    <PATH d="M22.417 14.836c-1.209 2.763-3.846 5.074-6.403 5.074-3.122 0-5.39-2.284-6.599-5.046C2.384 18.506 3.27 27.723 3.27 27.723c0 1.262.994 1.445 2.162 1.445h21.146c1.17 0 2.167-.184 2.167-1.445.001 0 .702-9.244-6.328-12.887z" />

    <PATH d="M16.013 18.412c3.521 0 6.32-5.04 6.32-9.204 0-4.165-2.854-7.541-6.375-7.541S9.582 5.043 9.582 9.208c0 4.165 2.909 9.204 6.431 9.204z" />
  </G>
</SVG>
