<% uniq = Kabare.Utils.KabareUtils.generate_unique_id(); %>

<SVG xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     aria-labelledby="publicTitle_<%= uniq %>"
     role="img"
     width="1.3em"
     height="1.3em"
     preserveAspectRatio="xMidYMid meet"
     viewBox="0 0 24 24"
     class="iconify iconify-gridicons-globe public-icon">
  <TITLE id="publicTitle_<%= uniq %>">
    <%= @altText %>
  </TITLE>

  <PATH d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2zm0 18l2-2l1-1v-2h-2v-1l-1-1H9v3l2 2v1.931C7.06 19.436 4 16.072 4 12l1 1h2v-2h2l3-3V6h-2L9 5v-.411a7.945 7.945 0 0 1 6 0V6l-1 1v2l1 1l3.13-3.13A7.983 7.983 0 0 1 19.736 10H18l-2 2v2l1 1h2l.286.286C18.029 18.061 15.239 20 12 20z">
  </PATH>
</SVG>
