<%= if(@enableInteraction) do %>
      <SCRIPT type="text/javascript">
        function reblogOnclick(clazz, action, inbox, objectID, username, actorID) {
          var xhttp         = new XMLHttpRequest(),
              staticClasses = "iconify icon:gridicons:reblog " + objectID + "_reblog ",
              reverseClass  = clazz  === "reblog-icon_unclicked" ?
                              "reblog-icon_clicked"              :
                              "reblog-icon_unclicked",
              reverseAction = action === "do"                    ? "undo" : "do";

          function generateOnclick(useReverse) {
            return "reblogOnclick('" + (useReverse ? reverseClass  : clazz)  + "', '" +
                                       (useReverse ? reverseAction : action) + "', '" +
                                       inbox    + "', '" + objectID          + "', '" +
                                       username + "', '" +  actorID          + "')";
          }

          for(const button of document.getElementsByClassName(objectID + "_reblog")) {
            button.setAttribute("class",   staticClasses + clazz);
            button.setAttribute("onclick", generateOnclick(true));
          }

          xhttp.onreadystatechange = function() {
                                       if(this.readyState == 4   &&
                                          this.status     == 200) {
                                       } else if(this.readyState == 4) {
                                         for(const button
                                             of    document.getElementsByClassName(objectID  +
                                                                                   "_reblog")) {
                                           button.setAttribute("class",   staticClasses +
                                                                          reverseClass);
                                           button.setAttribute("onclick",
                                                               generateOnclick(false));
                                         }

                                         console.log(this.responseText);
                                       }
                                     };
          xhttp.open("POST", "/frontend/reblog", true);
          xhttp.setRequestHeader("Content-Type", "application/json");
          xhttp.send(JSON.stringify({"_csrf_token": document.getElementById("meta-csrf")
                                                            .getAttribute("content"),
                                     "inbox"      : inbox,
                                     "objectID"   : objectID,
                                     "username"   : username,
                                     "actorID"    : actorID,
                                     "action"     : action                               }));
        }
      </SCRIPT>
<%  end %>

<SVG xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     aria-hidden="true"
     focusable="false"
     width="1.3em"
     height="1.3em"
     preserveAspectRatio="xMidYMid meet"
     viewBox="0 0 24 24"
     class="iconify
            icon-gridicons-reblog
            <%= if(@classToSwitchTo === "reblog-icon_clicked") do
                  "reblog-icon_unclicked";
                else
                  "reblog-icon_clicked";
                end %>
            <%= if @hasBeenSeen, do: "seen", else: "unseen" %>
            <%= @activityPubID %>_reblog"
     data-inline="false"
     data-width="1.3em"
     data-height="1.3em"
     data-icon="gridicons-reblog"
     style="transform: rotate(360deg);"
     onclick="<%= if(@enableInteraction) do %>
                    reblogOnclick('<%= @classToSwitchTo %>', '<%= @action %>',
                                  '<%= @inbox %>',           '<%= @activityPubID %>',
                                  '<%= @username %>',        '<%= @creatorActPubID %>')
              <%  else %>
                    null
              <%  end %>">
  <PATH d="M22.086 9.914L20 7.828V18a2 2 0 0 1-2 2h-7v-2h7V7.828l-2.086 2.086L14.5 8.5L19 4l4.5 4.5l-1.414 1.414zM6 16.172V6h7V4H6a2 2 0 0 0-2 2v10.172l-2.086-2.086L.5 15.5L5 20l4.5-4.5l-1.414-1.414L6 16.172z">
  </PATH>

  <RECT  width="4" x="10" rx="2" stroke="null"       stroke-opacity="null"
        height="4" y="10" ry="2" stroke-width="null"   fill-opacity="null" />
</SVG>
<!-- #707B97 -->
