<H1>
  <%  leng = length(@searches) %>
  <%= leng %> Result<%= if leng === 1, do: "", else: "s" %>
</H1>

<DIV class="tabs">
  <% print_results = fn(r, t) ->
                       for(elem <- r) do %>
                         <% type = case elem do
                                     %Kabare.ActivityPubObjects.Object{}   = o -> :post;
                                     %Kabare.ActivityPubActors.Actor{}     = a -> :actor;
                                     %Kabare.ActivityPubHashtags.Hashtag{} = t -> :hashtag;
                                   end %>
                         <%= if(t === :all or t === type) do %>
                               <LI>
                                 <A href=<%= case type do
                                               :post    -> Kabare.Utils.ActivityPubUtils.post_page_path(elem);
                                               :actor   -> Kabare.Utils.ActivityPubUtils.profile_page_path(elem);
                                               :hashtag -> "/tag/" <> elem.hashtag_name;
                                             end %>>
                                   <%= if(type !== :hashtag) do %>
                                     <IMG class="icon"
                                          src=<%= obj   = if(type === :post) do
                                                            List.first(elem.attributees);
                                                          else
                                                            elem;
                                                          end;
                                                  icons = Enum.filter(obj.object.images || [],
                                                                      &(&1.is_icon));

                                                  if(length(icons) > 0) do
                                                    Kabare.URLs.URL.to_string(Enum.at(icons, 0).object.url);
                                                  else
                                                    "/images/missing.png";
                                                  end %>>
                                   <%  end %>

                                   <DIV class="result-info<%= if(type === :post) do
                                                                " post";
                                                              else
                                                                "";
                                                              end %>">
                                     <DIV class="account-name">
                                       <B>
                                         <%= if(type === :hashtag) do %>
                                           <%= elem.hashtag_name %>
                                         <%= else %>
                                           <%  obj = if(type === :post) do
                                                       List.first(elem.attributees);
                                                     else
                                                       elem;
                                                     end %>
                                           <%= if(obj.object.name) do
                                                 obj.object.name;
                                               else
                                                 obj.preferred_username;
                                               end %>
                                         <%  end %>
                                       </B>

                                       <%= if(type === :post) do %>
                                             <SPAN class="account-address">
                                               <%= Kabare.Utils
                                                         .ActivityPubUtils
                                                         .activity_pub_handle(List.first(elem.attributees),
                                                                              true); %>
                                             </SPAN>
                                       <%  end %>
                                     </DIV>

                                     <%= if(type === :post) do %>
                                           <DIV class="post-content">
                                             <%= raw(Regex.replace(~r/<\/[aA]>/,
                                                                   Regex.replace(~r/<[aA]( .+?|)>/,
                                                                                 elem.content,
                                                                                 ""),
                                                                   "")) %>
                                           </DIV>
                                     <%= else %>
                                           <DIV class="account-address">
                                             <%= if(type === :hashtag) do %>
                                               <%  len = length(elem.objects) %>
                                               <%= len %> time<%= if len === 1, do: "", else: "s" %> used
                                             <%= else %>
                                               <%= Kabare.Utils
                                                         .ActivityPubUtils
                                                         .activity_pub_handle(elem, true); %>
                                             <%  end %>
                                           </DIV>
                                     <%  end %>
                                   </DIV>
                                 </A>

                                 <%= if(type === :actor   &&   @loggedInUser    &&
                                        @loggedInUser.user_id !== elem.actor_id) do %>
                                   <%  userIsFollowing = @loggedInUser.followees |> Enum.map(&(&1.actor_id))
                                                                                 |> Enum.member?(elem.actor_id); %>

                                   <%= render(SwanyeWeb.LayoutView, "site_parts/buttons/following-button.html",
                                              enableInteraction: true,
                                              hasBeenSeen:       true,
                                              inbox:             Kabare.Utils.DatabaseUtils.to_ap_id(elem.inbox),
                                              activityPubID:     Kabare.Utils.DatabaseUtils.to_ap_id(elem),
                                              username:          elem.preferred_username,
                                              classToSwitchTo:   if(userIsFollowing) do
                                                                   "following-icon_clicked";
                                                                 else
                                                                   "following-icon_unclicked";
                                                                 end,
                                              action:            "undo"); %>
                                   <%= render(SwanyeWeb.LayoutView, "site_parts/buttons/follow-button.html",
                                              enableInteraction: true,
                                              hasBeenSeen:       true,
                                              inbox:             Kabare.Utils.DatabaseUtils.to_ap_id(elem.inbox),
                                              activityPubID:     Kabare.Utils.DatabaseUtils.to_ap_id(elem),
                                              username:          elem.preferred_username,
                                              classToSwitchTo:   if(!userIsFollowing) do
                                                                   "follow-icon_clicked";
                                                                 else
                                                                   "follow-icon_unclicked";
                                                                 end,
                                              action:            "do"); %>
                                 <%  end %>
                               </LI>
                         <%  end %>
                   <%  end
                     end; %>
  <%= for({tabInfo,
           offset}  <- Enum.with_index([%{tabLabel: "All",      searchType: :all},
                                        %{tabLabel: "Users",    searchType: :actor},
                                        %{tabLabel: "Hashtags", searchType: :hashtag},
                                        %{tabLabel: "Posts",    searchType: :post}])) do %>
        <% index = offset + 1; %>
        <DIV class="tab">
          <INPUT type="radio"       id="tab-<%= index %>"
                 name="tab-group-1"<%= if index === 1, do: " checked", else: "" %>>
          <LABEL tabindex="<%= index %>" for="tab-<%= index %>">
            <%= tabInfo.tabLabel %>
          </LABEL>
          <UL class="content">
            <%= print_results.(@searches, tabInfo.searchType) %>
          </UL>
        </DIV>
  <%  end %>
</DIV>
