<% entityToUse = case @entity do
                   %Swanye.SwanyeUsers.User{}        = user  -> user.actor;
                   %Kabare.ActivityPubActors.Actor{} = actor -> actor;
                 end %>
<% icons       = Enum.filter(entityToUse.object.images, &(&1.is_icon)); %>
<% profilePage = "/@#{entityToUse.preferred_username}" <>
                 if(entityToUse.instance_authority === Kabare.Utils.ConfigUtils.instance_authority()) do
                   ""
                 else
                   "@#{entityToUse.instance_authority}"
                 end %>
<DIV class="user_card">
  <DIV class="user_card_icon">
    <A href="<%= profilePage %>">
      <IMG src="<%= if(Enum.empty?(icons)) do
                      "/images/missing.png";
                    else
                      Kabare.URLs.URL.to_string(Enum.at(icons, 0).object.url);
                    end %>">
    </A>
  </DIV>

  <DIV class="user_card_username">
    <% nameIsNil = is_nil(entityToUse.object.name) %>
    <DIV>
        <%= if(!nameIsNil) do %>
              <B>
                <A href="<%= profilePage %>">
                  <%= entityToUse.object.name %>
                </A>
              </B>
        <%  end %>
      <BR />
        <%= if(nameIsNil) do %><A href="<%= profilePage %>"><% end %>
          <SPAN>
            <SMALL>
              <%= Kabare.Utils.ActivityPubUtils.activity_pub_handle(entityToUse, true) %>
            </SMALL>
          </SPAN>
        <%= if(nameIsNil) do %></A>                         <% end %>
    </DIV>
  </DIV>

  <DIV class="user_card_summary">
    <%= raw(entityToUse.object.summary) %>
  </DIV>
</DIV>
