/* This file is for your main application css. */
/* @import "./phoenix.css"; */
@use "utils/constants";
@use "font";

/* Alerts and form errors used by phx.new */
// .alert {
//   padding: 15px;
//   margin-bottom: 20px;
//   border: 1px solid transparent;
//   border-radius: 4px;
// }
// .alert-info {
//   color: #31708f;
//   background-color: #d9edf7;
//   border-color: #bce8f1;
// }
// .alert-warning {
//   color: #8a6d3b;
//   background-color: #fcf8e3;
//   border-color: #faebcc;
// }
// .alert-danger {
//   color: #a94442;
//   background-color: #f2dede;
//   border-color: #ebccd1;
// }
// .alert p {
//   margin-bottom: 0;
// }
// .alert:empty {
//   display: none;
// }
// .invalid-feedback {
//   color: #a94442;
//   display: block;
//   margin: -1rem 0 2rem;
// }

/* LiveView specific classes for your customization */
// .phx-no-feedback.invalid-feedback,
// .phx-no-feedback .invalid-feedback {
//   display: none;
// }
// 
// .phx-click-loading {
//   opacity: 0.5;
//   transition: opacity 1s ease-out;
// }
// 
// .phx-loading{
//   cursor: wait;
// }
// 
// .phx-modal {
//   opacity: 1!important;
//   position: fixed;
//   z-index: 1;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
//   background-color: rgba(0,0,0,0.4);
// }
// 
// .phx-modal-content {
//   background-color: #fefefe;
//   margin: 15vh auto;
//   padding: 20px;
//   border: 1px solid #888;
//   width: 80%;
// }
// 
// .phx-modal-close {
//   color: #aaa;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }
// 
// .phx-modal-close:hover,
// .phx-modal-close:focus {
//   color: black;
//   text-decoration: none;
//   cursor: pointer;
// }

body {
  color:            #FFFFFF;
  margin:           0;
  font-size:        1.175rem;
  font-family:      'montserrat_std';
  background-color: constants.$signature-purple;
}

h1 {
  font-size:   3rem;
  font-family: 'josefin_sans_stdlight';
}

button {
  cursor:        pointer;
  padding:       0.35em 1.2em;
  font-size:     1.00em;
  font-family:   'montserrat_std';
  font-weight:   bold;
  border-style:  none;
  border-radius: 4.00px;

  &:disabled, &[disabled] {
    color:            constants.$disabled-text-color !important;
    cursor:           not-allowed                    !important;
    /* border:           1px solid #999999; */
    background-color: constants.$disabled-bg-color   !important;
  }
}

.ellipsize {
  overflow:      hidden;
  white-space:   nowrap;
  text-overflow: ellipsis;
}

.noselect {
          outline-style: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
