@use "utils/constants";

body {
  display:     block;
  font-weight: 500;
  font-family: 'josefin_sans_stdlight';
}

h1 {
  text-align:    center;
  margin-bottom: 50px;
}

.form_container {
  max-width:      400px;
  margin:         1% auto 0;
  padding:        20px;
  border:         0;
  vertical-align: baseline;

  .basic_form {
    label {
      font-size:   0.9em;
      font-weight: 600;
    }

    input[type=email],    input[type=number],
    input[type=password], input[type=text],   textarea {
      box-sizing:    border-box;
      font-size:     16px;
      color:         #FFFFFF;
      display:       block;
      width:         100%;
      outline:       0;
      font-family:   inherit;
      resize:        vertical;
      border:        1px solid #0A0B0E;
      background:    #1A1A1A;
      border-radius: 4px;
      padding:       10px;
      margin-bottom: 0.8em;

      &:active, &:focus {
        background:   #1A1A1A;
        border-color: constants.$signature-periwinkle;
      }
    }

    .block-button,
    .button,
     button       {
      display:         block;
      width:           100%;
      border:          0;
      border-radius:   4px;
      background:      constants.$signature-periwinkle;
      color:           constants.$signature-purple;
      font-size:       18px;
      line-height:     inherit;
      height:          auto;
      padding:         10px;
      text-transform:  uppercase;
      text-decoration: none;
      text-align:      center;
      box-sizing:      border-box;
      cursor:          pointer;
      font-weight:     bold;
      outline:         0;
      margin-top:      3em;
      margin-bottom:   10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .alert {
      border:        1px solid transparent;
      padding:       8px 15px;
      margin-bottom: 20px;
      border-radius: 4px;

      &:empty {
        display: none;
      }

      p {
        color:         #222222;
        margin-bottom: 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }
    .alert-info {
      color:            #31708f;
      border-color:     #bce8f1;
      background-color: #d9edf7;
    }
    .alert-warning {
      color:            #8a6d3b;
      border-color:     #faebcc;
      background-color: #fcf8e3;
    }
    .alert-danger {
      color:            #a94442;
      border-color:     #ebccd1;
      background-color: #f2dede;
    }
    .invalid-feedback {
      color:      #C2F9F0;
      margin:     -1rem .7rem .3rem;
      display:    block;
      font-size:  0.9em;
      font-style: italic;
    }
  }
}

button {
  font-family: inherit;
}
