.user_cards {
  width:                 92%;
  margin:                1.25em auto 0;
  display:               grid;
  grid-gap:              1.30em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.user_card {
  height:              180px;
  display:             grid;
  box-shadow:          -1px -1px 10px #1A1A1A;
  border-radius:       15px;
  padding-right:       10px;
  background-color:    #261e17;
  grid-template-areas: "icon username" "icon summary";

  .user_card_icon {
    width:     8.8vw;
    position:  relative;
    grid-area: icon;

    img {
      top:            50%;
      left:           50%;
      width:          5.8vw;
      position:       absolute;
      transform:      translate(-50%, -50%);
      margin-right:   -50%;
      border-radius:  8px;
      padding-bottom: 35px;
    }
  }
  .user_card_username {
    height:      70px;
    display:     flex;
    position:    relative;
    grid-area:   username;
    text-align:  center;
    align-items: center;

    div {
      width:         100%;
      position:      absolute;
      overflow:      hidden;
      white-space:   nowrap;
      text-overflow: ellipsis;

      a {
        color:           #FFFFFF;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      small {
        color:     #777777;
        font-size: 0.75em;
      }
    }
  }
  .user_card_summary {
    height:             100px;
    overflow:           scroll;
    grid-area:          summary;
    font-size:          0.7em;
    margin-bottom:      10px;
            mask-image: linear-gradient(180deg, #FFF 85%, transparent);
         -o-mask-image: linear-gradient(180deg, #FFF 85%, transparent);
       -moz-mask-image: linear-gradient(180deg, #FFF 85%, transparent);
    -webkit-mask-image: linear-gradient(180deg, #FFF 85%, transparent);
  }
}
