@use "utils/constants";
@use "utils/animations";
@use "utils/mixins";

section.carousel {
  top:              0;
  left:             0;
  right:            0;
  width:            100%;
  height:           100vh;
  margin:           0 auto;
  bottom:           0;
  z-index:          2000;
  display:          none;
  position:         fixed;
  overflow:         hidden;
  animation:        fade_in_show 0.5s;
  text-align:       center;
  background-color: rgba(21, 19, 32, 0.95);

  a.carousel__close {
    top:             20px;
    right:           39px;
    color:           #FFFFFF !important;
    /* width:           20px;
       height:          20px; */
    z-index:         2;
    opacity:         0.8;
    position:        absolute;
    font-size:       60px;
    transition:      all 200ms;
    font-weight:     bold;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }

    @media #{constants.$small-and-down} {
      top:    unset;
      right:  19px;
      bottom: 3px;
    }
  }

  div.slides {
    width:            100%;
    height:           calc(100vh - 5rem);
    display:          flex;
    position:         relative;
    overflow-x:       scroll;
    scroll-behavior:  smooth;
    scroll-snap-type: x mandatory;

    @include mixins.hide-scrollbars();

    div.slides-item {
      width:             100%;
      height:            100%;
      display:           flex;
      position:          relative;
      font-size:         100px;
      transform:         scale(1);
      transition:        transform .25s;
      align-items:       center;
      flex-shrink:       0;
      border-radius:     10px;
      justify-content:   center;
      scroll-snap-stop:  always;
      scroll-snap-align: start;

      img {
        $carousel-image-margin-top: 1.75rem;

        height:     auto;
        max-width:   85%;
        max-height: calc(100% - #{$carousel-image-margin-top});
        margin-top: $carousel-image-margin-top;
      }
    }
  }

  div.carousel__nav {
    padding: 1.25rem .5rem;

    a.slider-nav {
      color:            #1A1A1A;
      width:            1.5rem;
      height:           1.5rem;
      margin:           0 5px;
      display:          inline-flex;
      padding:          0.5rem;
      position:         relative;
      align-items:      center;
      outline-color:    #1A1A1A;
      border-radius:    50%;
      text-decoration:  none;
      justify-content:  center;
      background-color: constants.$signature-periwinkle;

      &:focus-visible {
        border:  1px solid #1A1A1A;
        outline: 1.5px solid constants.$signature-periwinkle;
      }

      &:hover, &:active {
        color:            constants.$default-site-white;
        background-color: #1A1A1A;
      }
    }
  }
}

a[id^="slide-"]:target ~ section.carousel {
  display: inherit;
}
