@font-face {
  font-family: 'josefin_sans_stdlight';
  src:         url('../fonts/Josefin_Sans/WOFF2/JosefinSans-Light.woff2') format('woff2'),
               url('../fonts/Josefin_Sans/WOFF/JosefinSans-Light.woff')   format('woff'),
               url('../fonts/Josefin_Sans/TTF/JosefinSans-Light.ttf')     format('truetype');
  font-weight: normal;
  font-style:  normal;
}

@font-face {
  font-family: 'josefin_sans_std';
  src:         url('../fonts/Josefin_Sans/EOT/JosefinSans-Regular-v16_vietnamese_latin-ext_latin-regular.eot');                                         /* IE9 Compat Modes      */
  src:         url('../fonts/Josefin_Sans/EOT/JosefinSans-Regular-v16_vietnamese_latin-ext_latin-regular.eot?#iefix')      format('embedded-opentype'), /* IE6-IE8               */
               url('../fonts/Josefin_Sans/WOFF2/JosefinSans-Regular-v16_vietnamese_latin-ext_latin-regular.woff2')         format('woff2'),             /* Super Modern Browsers */
               url('../fonts/Josefin_Sans/WOFF/JosefinSans-Regular-v16_vietnamese_latin-ext_latin-regular.woff')           format('woff'),              /* Modern Browsers       */
               url('../fonts/Josefin_Sans/TTF/JosefinSans-Regular-v16_vietnamese_latin-ext_latin-regular.ttf')             format('truetype'),          /* Safari, Android, iOS  */
               url('../fonts/Josefin_Sans/SVG/JosefinSans-Regular-v16_vietnamese_latin-ext_latin-regular.svg#JosefinSans') format('svg');               /* Legacy iOS            */
  font-weight: normal;
  font-style:  normal;
}

@font-face {
  font-family: 'montserrat_std';
  src:         url('../fonts/Montserrat/EOT/Montserrat-Regular-v14_vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot');                                        /* IE9 Compat Modes      */
  src:         url('../fonts/Montserrat/EOT/Montserrat-Regular-v14_vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix')     format('embedded-opentype'), /* IE6-IE8               */
               url('../fonts/Montserrat/WOFF2/Montserrat-Regular-v14_vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2')        format('woff2'),             /* Super Modern Browsers */
               url('../fonts/Montserrat/WOFF/Montserrat-Regular-v14_vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff')          format('woff'),              /* Modern Browsers       */
               url('../fonts/Montserrat/TTF/Montserrat-Regular-v14_vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf')            format('truetype'),          /* Safari, Android, iOS  */
               url('../fonts/Montserrat/OTF/Montserrat-Regular-v14_vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.otf')            format('opentype'),
               url('../fonts/Montserrat/SVG/Montserrat-Regular-v14_vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Montserrat') format('svg');               /* Legacy iOS            */
  font-weight: normal;
  font-style:  normal;
}

@font-face {
  font-family: 'atkinson_hyperlegible_std';
  src:         url('../fonts/Atkinson_Hyperlegible/EOT/Atkinson-Hyperlegible-Regular-102.eot');
  src:         url('../fonts/Atkinson_Hyperlegible/EOT/Atkinson-Hyperlegible-Regular-102.eot?#iefix')                       format('embedded-opentype'),
               url('../fonts/Atkinson_Hyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2')                         format('woff2'),
               url('../fonts/Atkinson_Hyperlegible/WOFF/Atkinson-Hyperlegible-Regular-102.woff')                            format('woff'),
               url('../fonts/Atkinson_Hyperlegible/TTF/Atkinson-Hyperlegible-Regular-102.ttf')                              format('truetype'),
               url('../fonts/Atkinson_Hyperlegible/SVG/Atkinson-Hyperlegible-Regular-102.svg#AtkinsonHyperlegible-Regular') format('svg');
  font-weight: normal;
  font-style:  normal;
}
