@use "utils/constants";
@use "app";
@use "navigation";
@use "side_buttons";

$dash-settings-width-large: 25.5%;

.dash_main {
	width:    calc(100% - #{$dash-settings-width-large} - #{side_buttons.$button-breadth-large} - 40px);
	padding:  20px;

  @media #{constants.$medium-and-down} {
    width:         calc(100% - 35% - 40px);
    margin-bottom: side_buttons.$button-breadth-medium;
  }
  @media #{constants.$small-and-down} {
    width:         100%;
    padding:       1px 0 1.25em 0;
    margin-top:    side_buttons.$button-breadth-small;
    margin-bottom: side_buttons.$button-breadth-small;
  }
}

.dash_settings {
  right:       side_buttons.$button-breadth-large;
  width:       $dash-settings-width-large;
  height:      100%;
  position:    fixed;
  padding-top: 20px;

  @media #{constants.$medium-and-down} {
    right:  0;
    width:  35%;
    height: calc(100% - #{side_buttons.$button-breadth-medium} - 20px);
  }
  @media #{constants.$small-and-down} {
    top:         0;
    left:        0;
    width:       100%;
    height:      side_buttons.$button-breadth-small;
    z-index:     999;
    background:  constants.$signature-purple;
    padding-top: 0;
  }

  section.widget {
    color:        constants.$signature-periwinkle;
    margin-top:   18px;
    line-height:  1.8em;
    font-family:  'montserrat_std';
    margin-left:  calc(100% / 32);
    margin-right: calc(100% / 32);

    @media #{constants.$small-and-down} {
      display: none;
    }

    &#sidebar_details {
      height:     65%;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: constants.$signature-periwinkle;
      }

      &::-webkit-scrollbar-track {
        background: constants.$signature-purple;
      }
    }

    h3 {
      font-size:        1.1em;
      font-family:      'josefin_sans_std';
      font-variant:     small-caps;
      /* text-transform:   uppercase; */
      margin-block-end: 0.5em;
    }

    & > div {
      width:            calc(100% - 16px - 2.6em);
      font-size:        0.9em;
      margin-left:        4px;
      margin-right:      12px;
      padding-top:      0.6em;
      padding-left:     1.3em;
      padding-right:    1.3em;
      padding-bottom:   0.6em;
      border-radius:      5px;
      background-color: #221E33;

      svg.iconify {
        width:          1.0em;
        height:         1.0em;
        margin-left:   -0.6em;
        margin-right:   0.2em;
        margin-bottom: -0.1em;

        path, rect, circle {
          fill: constants.$signature-periwinkle;
        }

        &.seen {
          & + span {
            & > a {
              color:           constants.$signature-periwinkle;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        &.unseen {
          & + span {
            color: #FFFFFF;

            & > a {
              color:           #FFFFFF;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          &.icon-gridicons-comment {
            path {
              fill: #008040;
            }
          }

          &.icon-gridicons-heart {
            path, rect {
              fill: #CF000F; /* #FF383F */ /* #DB000F */
            }
          }

          &.icon-gridicons-reblog {
            path, rect {
              fill: #117EB0; /* #41B6EC */
            }
          }

          &.icon-gridicons-user-add {
            path, circle {
              fill: #00C261; /* #F1F132 */ /* #2DC832 */
            }
          }
        }
      }

      hr {
        width:        calc(100% + 2.6em);
        margin-left:  -1.3em;
        border-color: constants.$signature-purple;
        border-style: solid;
        border-width: 0.5px;
      }

      div {
        & > p {
          margin-block-start: 0;
          margin-block-end:   0;

          &.align-left {
            float: left;

            a {
              color:           constants.$signature-periwinkle;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
          &.align-right {
            color:       #FFFFFF;
            float:       right;
            font-weight: bold;
          }
        }

        & > div.clear {
          clear: both;
        }

        & ~ p {
          color:       #FFFFFF;
          font-size:   0.85em;
          line-height: 1.40em;
        }
      }
    }
  }

  input[type=text] {
    color:            #FFFFFF;
    width:            calc(100% - (100% / 17.5) - 18.75px);
    border:           none;
    font-size:        1.15em;
    font-family:      'josefin_sans_stdlight';
    margin-top:       18px;
    margin-left:      calc(100% / 32);
    margin-right:     calc(100% / 32);
    padding:          6.5625px 9.375px;
    border-bottom:    1px solid constants.$signature-periwinkle;
    background-color: constants.$signature-purple;

    &:focus {
      outline-width: 0;
    }

    @media #{constants.$small-and-down} {
      display: none;
    }
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B2CCE5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #B2CCE5;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #B2CCE5;
}
