@use "utils/constants";

.dash_settings_nav {
  width:                 100%;
  display:               grid;
  text-align:            center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  @media #{constants.$small-and-down} {
    height: 100%;
  }

  svg {
    width:      28px;
    height:     28px;
    margin:     auto;
    display:    inline-block;
    text-align: center;

    path {
      fill: constants.$signature-periwinkle;

      &.none {
        fill: none;
      }
    }
  }

  a {
    display:         flex;
    position:        relative;
    text-decoration: none;

    &.highlighted-page-icon {
      svg {
        path {
          fill: #FFFFFF;
        }
      }
    }

    div {
      top:             -25%;
      left:            45%;
      color:           constants.$signature-purple;
      height:          15px;
      border:          2px solid constants.$signature-purple;
      padding:         4px 3px 0;
      display:         flex;
      position:        absolute;
      min-width:       11px;
      transform:       scale(1);
      font-size:       .78125rem;
      background:      constants.$signature-purple-blue-highlight;
      transition:      transform .2s ease-in-out;
      font-family:     "josefin_sans_std";
      font-weight:     700;
      line-height:     1.44px;
      align-items:     center;
      border-radius:   4px;
      text-decoration: none;
      justify-content: center;

      @media #{constants.$small-and-down} {
        top:  calc(38% - 15px);
        left: 50%;
      }
    }
  }

  img {
    height:       28px;
    display:      inline-block;
    text-align:   center;
    margin-left:  calc(100% / 32);
    margin-right: calc(100% / 32);
  }
}
