@use "utils/constants";

.notification-container {
  width:   100%;
  display: flex;

  &:first-of-type {
    margin-top: 2.5em;
  }

  $notification-margin: 2.3em;
  .notification-datestamp {
    width:           calc(24% - $notification-margin);
    display:         flex;
    position:        relative;
    font-size:       .8em;
    font-family:     'josefin_sans_std';
    align-items:     center;
    margin-right:    $notification-margin;
    border-right:    3px solid #8983A0;
    padding-bottom:  0.7em;
    justify-content: flex-end;

    @media #{constants.$medium-and-down} {
      width: $notification-margin;
    }

    span {
      @media #{constants.$medium-and-down} {
        display: none;
      }

      &.no-svg {
        margin-right: calc(1em + 4.5px);
      }
    }

    svg {
      width:        15.0px;
      z-index:       3;
      margin-left:   1.0em;
      margin-right: -9.0px;
    }
  }

  &:first-child {
    .notification-datestamp:after {
      top:         0;
      right:       -4px;
      height:      calc(50% - 0.35em);
      content:     '';
      z-index:     2;
      position:    absolute;
      border-left: 5px solid constants.$signature-purple;
    }
  }

  &:last-child {
    .notification-datestamp:after {
      right:       -4px;
      bottom:      0;
      height:      calc(50% + 0.35em);
      content:     '';
      z-index:     2;
      position:    absolute;
      border-left: 5px solid constants.$signature-purple;
    }
  }

  .notification {
    color:               constants.$default-site-standard-dark-text-color;
    width:               100%;
    padding:             0.6em;
    display:             grid;
    box-shadow:          -1px -1px 10px #1A1A1A;
    margin-bottom:       0.7em;
    border-radius:       5px;
    background-color:    #FFFFFF;
    grid-template-areas: "icon header  header  header  header  header  header  header  header  header  header  header  header  header"
                         "icon sechead sechead sechead sechead sechead sechead sechead sechead sechead sechead sechead sechead sechead"
                         "icon body    body    body    body    body    body    body    body    body    body    body    body    body  ";

    @media #{constants.$medium-and-down} {
      width: calc(100% - ($notification-margin * 3));
    }

    .notification-actor-icon-container {
      display:         flex;
      grid-area:       icon;
      justify-content: center;

      img.notification-actor-icon {
        max-width:      50.0px;
        max-height:     50.0px;
        margin-top:      0.5em;
        border-radius: 100.0px;
      }
    }

    .notification-header-container {
      display:   inline-flex;
      flex-flow: row nowrap;
      grid-area: header;
      min-width: calc(100% - 50px);

      span.ellipsize {
        flex: 1;

        b {
          font-size:      1.100em;
          font-family:    'josefin_sans_stdlight';
          letter-spacing: 0.075em;

          a {
            color:           constants.$default-site-standard-dark-text-color;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      span.timestamp {
        float:     right;
        color:     #757575;
        font-size: .8em;
      }
    }
    .notification-sechead-container {
      display:     none;
      grid-area:   sechead;
      font-size:   .65em;
      margin-left: .4em;

      @media #{constants.$medium-and-down} {
        display: inherit;
      }
    }

    .notification-body-container {
      color:        #595959;
      grid-area:    body;
      font-size:    0.8em;
      padding-left: 0.6em;
    }
  }
}
