@use "utils/constants";
@use "utils/animations";
@use "utils/easymde_2_18_0.min";

.post-modal-container {
  top:            0;
  left:           0;
  right:          0;
  width:          100%;
  height:         100%;
  bottom:         0;
  border:         0;
  margin:         0;
  padding:        0;
  opacity:        0;
  z-index:        99998;
  overflow:       auto;
  position:       fixed;
  transform:      translateZ(0);
  visibility:     hidden;
  transition:     opacity 200ms;
  vertical-align: baseline;

  &:target {
    opacity:    1;
    visibility: visible;

    &#new-image-post-editor {
      div#post-modal-caption-container {
        display: unset;
      }
    }
  }

  .v-center-outer {
    width:          100%;
    height:         100%;
    border:         0;
    margin:         0;
    padding:        0;
    display:        table;
    vertical-align: baseline;

    .v-center-inner {
      margin:         0;
      border:         0;
      padding:        0;
      display:        table-cell;
      background:     rgba(0,0,0,0.5);
      text-align:     center;
      vertical-align: middle;

      .overlay {
        display:    inline-block;
        min-width:  50%;
        text-align: left;

        .popup {
          margin:        50px auto;
          border:        1px solid #666666;
          padding:       20px;
          position:      relative;
          background:    #FFFFFF;
          box-shadow:    0 0 50px rgba(0,0,0,0.5);
          border-radius: 8px;

          div#post-modal-caption-container {
            top:            0;
            left:           0;
            right:          0;
            width:          100%;
            height:         calc(100% + 1px);
            bottom:         0;
            border:         0;
            margin:         0;
            display:        none;
            padding:        0;
            opacity:        0;
            z-index:        99999;
            overflow:       auto;
            position:       absolute;
            transform:      translateZ(0);
            background:     rgba(0, 0, 0, 0.5);
            visibility:     hidden;
            transition:     opacity 200ms;
            border-radius:  8px;
            vertical-align: baseline;

            div.post-modal-caption-popup {
              color:         constants.$default-site-standard-dark-text-color;
              width:         80%;
              margin:        50px auto;
              border:        1px solid #666666;
              padding:       20px;
              position:      relative;
              background:    #FFFFFF;
              box-shadow:    0 0 50px rgba(0,0,0,0.5);
              border-radius: 8px;

              h3 {
                font-size:   1.5em;
                margin-top:  0;
                font-family: 'josefin_sans_stdlight';
              }

              b {
                font-size: .75em;
              }

              textarea:active, textarea:focus {
                border-color: #1e90ff; /* #1c4bce */
              }
              textarea {
                box-sizing:    border-box;
                font-size:     0.75em;
                display:       block;
                width:         100%;
                height:        12em;
                outline:       0;
                font-family:   inherit;
                resize:        vertical;
                border:        1px solid constants.$default-site-standard-dark-text-color;
                border-radius: 4px;
                padding:       10px;
                margin-top:    0.5em;
              }

              span.char-count {
                float:       right;
                font-size:   0.85em;
                margin-top:  0.20em;
                font-family: 'josefin_sans_stdlight';
              }

              div.buttons {
                display:                 -webkit-flex;
                display:                 flex;
                margin-top:              2.5em;
                justify-content:         space-around;
                -webkit-justify-content: space-around;

                button {
                  color:     #FFFFFF;
                  width:     6em;
                  font-size: 18px;

                  &.cancel {
                    background: #707B97;
                  }
                  &.apply {
                    background: #7b11b0;
                  }
                }
              }
            }
          }

          ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #636c72;
          }
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #636c72;
          }
          ::-ms-input-placeholder { /* Microsoft Edge */
            color: #636c72;
          }

          div.privacy-selections {
            color:                   constants.$default-site-standard-dark-text-color;
            right:                   14px;
            bottom:                  43px;
            border:                  1.00px solid #AAAAAA;
            display:                 none;
            z-index:                 9999;
            position:                absolute;
            border-bottom:           none;
            background-color:        #FFFFFF;
            border-top-left-radius:  4px;
            border-top-right-radius: 4px;

            &:hover {
              display: grid;
            }

            label {
              cursor:                pointer;
              display:               grid;
              align-items:           center;
              padding-top:           0.25em;
              padding-right:         0.60em;
              padding-bottom:        0.25em;
              grid-template-columns: 2em 1fr;

              &:hover {
                color:            #FFFFFF;
                background-color: #1E90FF;

                svg {
                  path {
                    fill: #FFFFFF;
                  }
                }
              }

              &:first-child {
                padding-top: 0.35em;
              }
              &:last-child {
                padding-bottom: 0.30em;
              }

              svg {
                width:        1em;
                height:       1em;
                margin-left:  auto;
                margin-right: auto;
              }

              div.privacy-details {
                display:            grid;
                grid-template-rows: 1fr 1fr;

                .privacy-title {
                  font-size:   0.8em;
                  font-weight: bold;
                }

                .privacy-description {
                  font-size: .7em;
                }
              }
            }
          }

          div.privacy {
            right:         49px;
            bottom:        19px;
            padding:       0.05em 0.25em 0.00em;
            position:      absolute;
            border-radius: 4px;

            &:hover {
              transition:          all .2s ease-out;
              background-color:    rgba(96, 105, 132, 0.20);
              transition-property: background-color,color;

              & ~ div.privacy-selections {
                display:             grid;
                transition:          all .2s ease-out;
                transition-property: display;
              }
            }

            svg {
              width:   .8em;
              height:  .8em;
              display: none;

              path {
                fill: constants.$default-site-standard-dark-text-color;
              }
            }
          }

          label {
            &[for^="content_warning_checkbox_"] {
              color:         constants.$default-site-standard-dark-text-color;
              right:         20px;
              bottom:        19px;
              cursor:        pointer;
              padding:       0.5em 0.25em 0.3em;
              position:      absolute;
              font-size:     0.7em;
              font-weight:   bold;
              font-family:   "josefin_sans_std";
              border-radius: 4px;

              &:hover {
                transition:          all .2s ease-out;
                background-color:    rgba(96, 105, 132, 0.20);
                transition-property: background-color,color;
              }
            }
          }

          input {
            border:      none;
            font-family: "montserrat_std";

            &[type=radio] {
              display: none;

              &[id^="public_"]:checked {
                & ~ div.privacy svg.public-icon {
                  display: unset;
                }

                & ~ div.privacy-selections label[for^="public_"] {
                  color:            #FFFFFF;
                  background-color: #1E90FF;

                  svg {
                    path {
                      fill: #FFFFFF;
                    }
                  }
                }
              }
              &[id^="unlisted_"]:checked {
                & ~ div.privacy svg.unlisted-icon {
                  display: unset;
                }

                & ~ div.privacy-selections label[for^="unlisted_"] {
                  color:            #FFFFFF;
                  background-color: #1E90FF;

                  svg {
                    path {
                      fill: #FFFFFF;
                    }
                  }
                }
              }
              &[id^="followers_"]:checked {
                & ~ div.privacy svg.targeted-icon {
                  display: unset;
                }

                & ~ div.privacy-selections label[for^="followers_"] {
                  color:            #FFFFFF;
                  background-color: #1E90FF;

                  svg {
                    path {
                      fill: #FFFFFF;
                    }
                  }
                }
              }
            }

            &[type=checkbox] {
              display: none;

              &[id^="content_warning_checkbox_"]:checked + input[name="content_warning"] {
                display:   inherit;
                animation: fade_in_show 0.75s;
              }

              &[id^="content_warning_checkbox_"]:checked ~ label[for^="content_warning_checkbox_"] {
                color: #117EB0;

                &:hover {
                  background-color: rgba(17, 126, 176, 0.10);
                }
              }
            }

            &[type=text] {
              &[name=title] {
                width:     94%;
                margin:    0 10px .5em;
                font-size: 2em;
              }

              &[name=content_warning] {
                width:         98%;
                border:         1.00px solid #AAAAAA;
                margin:        -0.50em 5px 0.5em 0;
                padding:        5.00px;
                display:       none;
                font-size:      0.85em;
                border-radius: 4.00px;

                &:active, &:focus {
                  border-color: #1E90FF;
                }
              }
            }

            &:focus {
              outline-width: 0;
            }
          }

          .CodeMirror {
            font-family: "atkinson_hyperlegible_std";

            div#callout-users-list {
              width:         13em;
              /* border:        1px solid #CCC; */
              z-index:       2;
              padding:       0.35em 0;
              position:      absolute;
              overflow:      scroll;
              min-height:    20px;
              max-height:    7.50em;
              background:    #FFFFFF;
              box-shadow:    0 0 5px rgba(0, 0, 0, 0.25);
              border-radius: 8px;

              div.user-info {
                width:                 calc(100% - 1.00em);
                height:                2.50em;
                display:               grid;
                padding:               0.25em 0.50em;
                font-size:             0.85em;
                font-family:           "josefin_sans_stdlight";
                grid-template-rows:    auto;
                grid-template-areas:   "username username username username username icon"
                                       "name     name     name     name     name     icon";
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

                &:hover {
                  cursor: pointer;
                }
                &.selected, &:hover {
                  background-color: #e6e6f7;
                }

                div.username {
                  grid-area:   username;
                  font-weight: bold;
                }

                div.name {
                  color:     #888888;
                  font-size: 1.1em;
                  grid-area: name;
                }

                img.icon {
                  float:         right;
                  width:         100%;
                  grid-area:     icon;
                  border-radius: 2.5px;
                }
              }
            }
          }

          .close {
            top:             20px;
            right:           20px;
            color:           #666666;
            width:           20px;
            height:          20px;
            opacity:         0.8;
            position:        absolute;
            font-size:       24px;
            transition:      all 200ms;
            font-weight:     bold;
            text-decoration: none;

            &:hover {
              opacity: 1;
            }
          }

          div#post-modal_images {
            width:                 100%;
            display:               grid;
            row-gap:               0.8em;
            margin-top:            2.0em;
            column-gap:            0.8em;
            grid-template-columns: repeat(2, 1fr);

            & > div {
              width:               100%;
              height:              250px;
              position:            relative;
              border-radius:         8px;
              background-size:     cover;
              background-repeat:   no-repeat;
              background-position: center;

              input {
                display: none;
              }

              div.edit-overlay {
                top:           0px;
                left:          0px;
                color:         white;
                width:         100%;
                height:        100%;
                cursor:        pointer;
                opacity:       0;
                position:      absolute;
                font-size:     1.5em;
                text-align:    center;
                background:    rgba(0,0,0,0.6);
                transition:    all 300ms linear 0s;
                font-family:   'josefin_sans_stdlight';
                font-weight:   bold;
                line-height:   250px;
                border-radius: 8px;
              }
              div.delete {
                top:           -7px;
                right:         -7px;
                width:         20px;
                height:        20px;
                cursor:        pointer;
                display:       none;
                position:      absolute;
                background:    #e65656;
                text-align:    center;
                font-family:   'josefin_sans_std';
                border-radius: 500px;
                padding-right: 0.3px;

                @media #{constants.$medium-and-down} {
                  display: inherit;
                }
              }
              &:hover {
                div.delete {
                  display: inherit;
                }

                div.edit-overlay {
                  opacity:    1;
                  transition: all 300ms linear 0s;
                }
              }
            }
          }

          button {
            &#post-modal_add-image {
              margin:          0.5em auto;
              display:         flex;
              background:      transparent;
              font-family:     'josefin_sans_stdlight';
              justify-content: center;

              svg {
                bottom:   1.5px;
                position: relative;
              }
            }

            &.easyFormSubmit {
              color:      #FFFFFF;
              width:      6em;
              font-size:  18px;
              margin-top: -41px;
              background: #7b11b0;
            }
          }
        }
      }
    }
  }
}
