@use "utils/constants";
@use "spinners";
@use "post_editor";
@use "warning_modal";
@use "carousel";
@use "side_buttons";

@keyframes size {
  0%   { width:         1.3em;
         height:        1.3em; }
  50%  { width:         1.7em;
         height:        1.7em;
         margin-top:   -0.2em;
         margin-right:  0.2em; }
  100% { width:         1.3em;
         height:        1.3em; }
}

$dash-post-container-margin:        1.75em/* 2.5em */;
$dash-post-container-width:         calc(100% - ($dash-post-container-margin * 2));
$dash-post-actor-icon-width:        76px;
$dash-post-actor-icon-margin-right: 19px;
$dash-post-width:                   calc(100% - #{$dash-post-actor-icon-width}        -
                                                #{$dash-post-actor-icon-margin-right});

.dash_post-container {
  width:         $dash-post-container-width;
  margin:        $dash-post-container-margin;
  margin-top:    1.25em/* 3em */;
  margin-bottom: 0.00em;
  display:       table;
  overflow:      auto;

  @media #{constants.$mobile-and-down} {
    width:  100%;
    margin: 1.25em 0 0 0;
  }

  img.activity-actor-icon {
    top:           20px;
    width:         $dash-post-actor-icon-width;
    position:      sticky;
    border-radius:  5px;

    @media #{constants.$mobile-and-down} {
      display: none;
    }
  }

  .dash_post {
    float:            right;
    width:            $dash-post-width;
    color:            constants.$default-site-darker-text-color;
    box-shadow:       -1px -1px 10px #1A1A1A;
    /* padding-left:     1.8em;
       padding-right:    1.8em; */
    border-radius:    5px;
    background-color: #FFFFFF;

    @media #{constants.$mobile-and-down} {
      width: 100%;
    }

    /***************
     *  A S I D E  *
     ***************/
    .dash_post-reblog-info {
      top:                     side_buttons.$button-breadth-small;
      padding:                 0.45em 0.9em 0.225em;
      z-index:                 10;
      display:                 none;
      position:                sticky;
      align-items:             flex-start;
      border-bottom:           1px solid rgba(0, 0, 0, 0.13);
      border-top-left-radius:  5px;
      border-top-right-radius: 5px;
      background-color:        #FFFFFF;

      @media #{constants.$mobile-and-down} {
        display: flex;
      }

      img.reblog-info-icon {
        width:         38px;
        border-radius:  5px;
      }

      .reblog-info {
        margin:             auto .45em;
        display:            grid;
        font-size:          0.75em;
        grid-template-rows: repeat(2, 1.2em);

        a {
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .reblog-info-poster {
          color:    #111111;
          grid-row: 1;
        }

        .reblog-info-reblogged-from {
          grid-row: 2;

          svg {
            height: 1em;

            path, rect {
              fill: constants.$default-site-standard-dark-text-color;
            }
          }

          a {
            color: constants.$default-site-standard-dark-text-color;
          }
        }
      }
    }

    /*****************
     *  H E A D E R  *
     *****************/
    .dash_post-info {
      padding:       0.45em 0.9em;
      display:       flex;
      position:      relative;
      align-items:   flex-start;

      &.top-border {
        border-top: 1px solid rgba(0,0,0,0.13);
      }
      /* margin-left:    0.9em;
         margin-right:   0.9em;
         padding-top:    0.45em;
         padding-bottom: 0.45em; */
      &.first-in-thread:hover {
        .orig-post-button {
          opacity:      1;
          transition:   border-width .15s ease-in,opacity 0ms ease-in 0ms;
          border-width: 8px;
        }
      }

      .orig-post-anchor {
        @media #{constants.$mobile-and-down} {
          display: none;
        }

        .orig-post-button {
          top:              0;
          right:            0;
          width:            0;
          height:           0;
          opacity:          0;
          position:         absolute;
          transition:       border-width .15s ease-in,opacity 0ms ease-in .15s;
          border-top:       2px solid #292637;
          border-left:      2px solid #bfbfbf;
          border-right:     2px solid #292637;
          border-bottom:    2px solid #bfbfbf;
          border-radius:    0 4px 0 5px;
          background-color: constants.$signature-purple;
        }
      }

      .icon {
        width:         48px;
        border-radius:  5px;
      }

      .post-info {
        display:            grid;
        margin-top:         -.3em;
        margin-left:        .45em;
        grid-template-rows: 2em .8em;
        /* grid-template-rows: 24px 24px; */

        & > div {
          display:     flex;
          align-items: center;
        }

        a.poster {
          color:           constants.$default-site-standard-dark-text-color;
          grid-row:        1;
          font-size:       0.9em;
          margin-top:      0.3em;
          text-decoration: none;

          & b {
            font-size:   1.2em;
            font-family: 'josefin_sans_stdlight';
            margin-top:  -2px;

            &:hover {
              text-decoration: underline;
            }
          }

          & span {
            color: #888888;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .timestamp {
          grid-row:  2;
          font-size: .7em;

          a {
            color: constants.$default-site-standard-dark-text-color;
          }

          svg.iconify {
            width:         1.0em;
            height:        1.0em;
            margin-right: -0.2em;

            path {
              fill: #444444;
            }
          }
        }
      }
    }

    /*************
     *  B O D Y  *
     *************/
    .dash_post-content {
      word-break:     break-word;
      padding-left:   1.35em;
      padding-right:  1.35em;

      h1 {
        font-size:      2.125rem;
        margin-top:     0.100em;
        margin-bottom: -0.400em;
      }

      p {
        line-height: 1.6em;
      }

      a {
        color: constants.$signature-purple;

        &.mention {
          color:           #4E3576;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          &.hashtag {
            color: #6d32a8;
          }
        }

        .invisible {
          width:       0;
          height:      0;
          display:     inline-block;
          font-size:   0;
          line-height: 0;
        }

        .ellipsis {
          &::after {
            content: "…";
          }
        }
      }

      input {
        &[type=checkbox] {
          top:      -9999px;
          left:     -9999px;
          display:  none;
          position: absolute;

          &.cwci         ~ span.content-warning {
            display:       inline-block;
            margin-top:    0.8em;
            font-family:   'josefin_sans_std';
            margin-bottom: 0.6em;
          }
          &.cwci:checked ~ span.content-warning {
            margin-bottom: 0;
          }

          &.cwci         ~ label.cwcl {
            color:         #FFFFFF;
            cursor:        pointer;
            border:        1px solid constants.$default-site-standard-dark-text-color;
            padding:       0 6px;
            display:       inline-block;
            font-size:     0.9em;
            background:    constants.$default-site-standard-dark-text-color;
            font-weight:   bold;
            border-radius: 4px;

            span.hide {
              display: none;
            }
          }
          &.cwci:checked ~ label.cwcl {
            color:      constants.$default-site-standard-dark-text-color;
            background: #FFFFFF;

            span {
              &.show {
                display: none;
              }

              &.hide {
                display: inherit;
              }
            }
          }

          &.cwci         ~ hr {
            display: none;
          }
          &.cwci:checked ~ hr {
            color:            constants.$default-site-standard-dark-text-color; /* old IE */
            border:           none;
            height:           0.5px;
            display:          inherit;
            background-color: constants.$default-site-standard-dark-text-color; /* Modern Browsers */
          }

          &.cwci         ~ div {
            display: none;
          }
          &.cwci:checked ~ div {
            display: inherit;
          }
        }
      }

      video.video-attachment {
        max-height:       400px;
        background-color: #000000 !important;
      }

      .post-images {
        width:       calc(1.35em + 100% + 1.35em);
        display:     grid;
        row-gap:      0.35em;
        margin-top:   0.50em;
        column-gap:   0.35em;
        margin-left: -1.35em;

        a {
          img {
            width:         100%;
            object-fit:    cover;
            border-radius: 3px;
          }
        }

        &.one {
        }

        &.three, &.general {
          grid-template-columns: repeat(2, 1fr);

          a {
            img {
              height: 250px;
            }
          }
        }
        &.three {
          grid-template-rows: repeat(2, 250px);

          a:nth-child(2) {
            img {
              height: calc(500px + 0.35em);
            }
          }
        }
      }
    }

    /*****************
     *  F O O T E R  *
     *****************/
    .dash_post-interactions {
      display:         flex;
      padding:         0.0em 1.8em 0.9em;
      justify-content: flex-end;

      @media #{constants.$small-only} {
        padding: 0.0em 0.9em 0.9em;
      }
      @media #{constants.$mobile-and-down} {
        padding: 0.0em 0.45em 0.9em;
      }

      & > * {
        margin-left:  .35em;
        margin-right: .35em;
      }

      .iconify {
        &:hover {
          cursor: pointer;
        }

        &.comment-icon_unclicked {
          path {
            fill: #4F596D;
          }

          &:hover {
            path {
              fill: #008040;
            }
          }
        }

        &.reblog-icon_unclicked {
          path {
            fill: #4F596D;
          }

          rect {
            fill:    #117EB0;
            display: none;
          }

          &:hover {
            rect {
              display: inherit !important;
            }

            path {
              fill: #117EB0 !important;
            }
          }
        }
        &.reblog-icon_clicked {
          animation: size .4s;

          path {
            fill: #117EB0;
          }

          rect {
            fill:    #117EB0;
            display: inherit;
          }
        }

        &.icon-gridicons-heart {
          path {
            &.filled   {
              fill: #CF000F;
            }
            &.unfilled {
              fill: #4F596D;
            }
          }

          &.like-icon_unclicked {
            path {
              &.filled   {
                display: none;
              }
              &.unfilled {
                display: inherit;
              }
            }

            &:hover {
              path {
                &.filled   {
                  display: inherit;
                }
                &.unfilled {
                  display: none;
                }
              }
            }
          }

          &.like-icon_clicked {
            animation: size .4s;

            path {
              &.filled   {
                display: inherit;
              }
              &.unfilled {
                display: none;
              }
            }
          }
        }

        &#favorite {
          path {
            &.filled   {
              display: none;
            }
            &.unfilled {
              display: inherit;
            }
          }

          &:hover {
            path {
              &.filled   {
                display: inherit;
              }
              &.unfilled {
                display: none;
              }
            }
          }
        }

        &.delete-icon {
          path {
            fill: #4F596D;
          }

          &:hover {
            path {
              fill: #A22B00; // #802200
            }
          }
        }
      }
    }
  }
}

.spinner {
  right:      calc(-1 * ($dash-post-container-width         -
                         $dash-post-width                   +
                         $dash-post-actor-icon-margin-right));
  display:    none;
  margin-top: 1em;

  @media #{constants.$mobile-and-down} {
    right: 0;
  }
}
