@use "utils/constants";

.post-editor {
  display:       none;
  overflow:      hidden;
  position:      relative;
  border-top:    1px solid rgba(0,0,0,0.13);
  padding-top:   1em;
  padding-left:  1.8em;
  padding-right: 1.8em;

  @media #{constants.$mobile-and-down} {
    padding-left:  0.9em;
    padding-right: 0.9em;
  }

  &.show {
    display: inherit;
  }

  div.privacy-selections {
    left:                    calc(0.9em * 1.05);
    color:                   constants.$default-site-standard-dark-text-color;
    bottom:                  calc((0.7em + 0.9em + 0.98em + 0.35em * 2) * 1.05 + 3px + 24px);
    border:                  1.00px solid #AAAAAA;
    display:                 none;
    z-index:                 9999;
    position:                absolute;
    border-bottom:           none;
    background-color:        #FFFFFF;
    border-top-left-radius:  4px;
    border-top-right-radius: 4px;

    @media #{constants.$mobile-and-down} {
      left:   calc(0.45em * 1.05);
      bottom: calc((0.7em + 0.9em + (0.98em + (0.35em * 2)) * 2 + .25em) * 1.05 + 3px + 24px);
    }

    &:hover {
      display: grid;
    }

    label {
      cursor:                pointer;
      display:               grid;
      align-items:           center;
      padding-top:           0.25em;
      padding-right:         0.60em;
      padding-bottom:        0.25em;
      grid-template-columns: 2em 1fr;

      &:hover {
        color:            #FFFFFF;
        background-color: #1E90FF;

        svg {
          path {
            fill: #FFFFFF;
          }
        }
      }

      &:first-child {
        padding-top: 0.35em;
      }
      &:last-child {
        padding-bottom: 0.30em;
      }

      svg {
        width:        1em;
        height:       1em;
        margin-left:  auto;
        margin-right: auto;
      }

      div.privacy-details {
        display:            grid;
        grid-template-rows: 1fr 1fr;

        .privacy-title {
          font-size:   0.8em;
          font-weight: bold;
        }

        .privacy-description {
          font-size: .7em;
        }
      }
    }
  }

  div.privacy {
    left:          calc(1.8em * 1.05);
    bottom:        calc((0.7em + 0.9em + 0.98em + 0.35em * 2) * 1.05 + 3px);
    padding:       0.05em 0.25em 0.00em;
    z-index:       9999;
    position:      absolute;
    border-radius: 4px;

    @media #{constants.$mobile-and-down} {
      left:   calc(0.9em * 1.05);
      bottom: calc((0.7em + 0.9em + (0.98em + (0.35em * 2)) * 2 + .25em) * 1.05 + 3px);
    }

    &:hover {
      transition:          all .2s ease-out;
      background-color:    rgba(96, 105, 132, 0.20);
      transition-property: background-color,color;

      & ~ div.privacy-selections {
        display:             grid;
        transition:          all .2s ease-out;
        transition-property: display;
      }
    }
    &.targeted-locked:hover {
      transition:          unset;
      background-color:    unset;
      transition-property: unset;
    }

    svg {
      width:   .8em;
      height:  .8em;
      display: none;

      path {
        fill: constants.$default-site-standard-dark-text-color;
      }
    }
    &.targeted-locked svg {
      display: unset;

      path {
        fill: #CED1DB;
      }
    }
  }

  label {
    &[for^="content_warning_checkbox_"] {
      left:          calc(1.8em * 1.5 + 25px);
      color:         constants.$default-site-standard-dark-text-color;
      bottom:        calc((0.7em + 0.9em + 0.98em + 0.35em * 2) * 1.5 + 3px);
      cursor:        pointer;
      z-index:       9999;
      padding:       0.5em 0.25em 0.3em;
      position:      absolute;
      font-size:     0.7em;
      font-weight:   bold;
      font-family:   "josefin_sans_std";
      border-radius: 4px;

      @media #{constants.$mobile-and-down} {
        left:   calc(0.9em * 1.5 + 25px);
        bottom: calc((0.7em + 0.9em + (0.98em + (0.35em * 2)) * 2 + .25em) * 1.5 + 3px);
      }

      &:hover {
        transition:          all .2s ease-out;
        background-color:    rgba(96, 105, 132, 0.20);
        transition-property: background-color,color;
      }
    }
  }

  input {
    border:      none;
    font-family: "montserrat_std";

    &[type=radio] {
      display: none;

      &[id^="public_"]:checked {
        & ~ div.privacy svg.public-icon {
          display: unset;
        }

        & ~ div.privacy-selections label[for^="public_"] {
          color:            #FFFFFF;
          background-color: #1E90FF;

          svg {
            path {
              fill: #FFFFFF;
            }
          }
        }
      }
      &[id^="unlisted_"]:checked {
        & ~ div.privacy svg.unlisted-icon {
          display: unset;
        }

        & ~ div.privacy-selections label[for^="unlisted_"] {
          color:            #FFFFFF;
          background-color: #1E90FF;

          svg {
            path {
              fill: #FFFFFF;
            }
          }
        }
      }
      &[id^="followers_"]:checked {
        & ~ div.privacy svg.targeted-icon {
          display: unset;
        }

        & ~ div.privacy-selections label[for^="followers_"] {
          color:            #FFFFFF;
          background-color: #1E90FF;

          svg {
            path {
              fill: #FFFFFF;
            }
          }
        }
      }
    }

    &[type=checkbox] {
      display: none;

      &[id^="content_warning_checkbox_"]:checked + input[name=content_warning] {
        display:   inherit;
        animation: fade_in_show 0.75s;
      }

      &[id^="content_warning_checkbox_"]:checked ~ label[for^="content_warning_checkbox_"] {
        color: #117EB0;

        &:hover {
          background-color: rgba(17, 126, 176, 0.10);
        }
      }
    }

    &[type=text] {
      &[name=content_warning] {
        width:         98%;
        margin:        -0.50em 5px 0.5em 0;
        padding:        5.00px;
        display:       none;
        font-size:      0.85em;
        border-bottom: 1.00px solid #AAAAAA;
        /* border-radius: 4.00px; */

        &:active, &:focus {
          border-color: #1E90FF;
        }
      }
    }

    &:focus {
      outline-width: 0;
    }
  }

  textarea {
    width:       100%;
    border:      0;
    resize:      none;
    outline:     none;
    font-size:   0.9em;
    margin-top:  0.9em;
    font-family: "atkinson_hyperlegible_std";
  }
  .EasyMDEContainer {
    font-family: "atkinson_hyperlegible_std";

    .editor-toolbar {
      border-top:    unset;
      border-left:   unset;
      border-right:  unset;
      border-bottom: 1px solid #BBBBBB;

      &.fullscreen {
        z-index: 9999;
      }
    }
    .CodeMirror {
      border:   unset;
      overflow: unset;

      &.CodeMirror-fullscreen {
        z-index: 9999;

        & ~ .editor-preview-side {
          z-index: 9999;
        }
      }
    }

    div#callout-users-list {
      width:         13em;
      /* border:        1px solid #CCC; */
      z-index:       2;
      padding:       0.35em 0;
      position:      absolute;
      overflow:      scroll;
      min-height:    20px;
      max-height:    7.50em;
      background:    #FFFFFF;
      box-shadow:    0 0 5px rgba(0, 0, 0, 0.25);
      border-radius: 8px;

      div.user-info {
        width:                 calc(100% - 1.00em);
        height:                2.50em;
        display:               grid;
        padding:               0.25em 0.50em;
        font-size:             0.85em;
        font-family:           "josefin_sans_stdlight";
        grid-template-rows:    auto;
        grid-template-areas:   "username username username username username icon"
        "name     name     name     name     name     icon";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        &:hover {
          cursor: pointer;
        }
        &.selected, &:hover {
          background-color: #e6e6f7;
        }

        div.username {
          grid-area:   username;
          font-weight: bold;
        }

        div.name {
          color:     #888888;
          font-size: 1.1em;
          grid-area: name;
        }

        img.icon {
          float:         right;
          width:         100%;
          grid-area:     icon;
          border-radius: 2.5px;
        }
      }
    }
  }

  div.confirm-or-decline {
    width:                 calc(100% - 10%);
    display:               grid;
    padding:               .7em 5% .9em;
    grid-template-columns: repeat(2, 50%);

    @media #{constants.$mobile-and-down} {
      grid-row-gap:          0.25em;
      grid-template-rows:    repeat(2, 1fr);
      grid-template-columns: unset;
    }

    button {
      color:        #FFFFFF;
      width:        6.00em;
      font-size:    0.95em;
      margin-left:  auto;
      margin-right: auto;

      @media #{constants.$mobile-and-down} {
        width: 100%;
      }

      &.cancel {
        background: #707B97;
      }
      &.send {
        background: #7b11b0;
      }
    }
  }
}

.dash_post .dash_post-interactions.hide {
  display: none !important;
}
