@use "utils/constants";

.profile_header {
  position: relative;

  &.no-landscape_top-margin {
    margin-top: 15.4em;
  }

  img {
    &#landscape {
      width:         calc(100% - 1em);
      margin:        0.5em;
      height:        265px;
      object-fit:    cover;
      border-radius: 5px;
    }

    &#icon {
      left:          calc(50% - 50px);
      bottom:        calc(-50px + 0.8em);
      position:      absolute;
      max-width:     100px;
      max-height:    100px;
      box-shadow:    -1px -1px 10px #1A1A1A;
      border-radius: 100px;
    }
  }

  button#un_follow {
    color:            #1A1A1A;
    right:            23px;
    bottom:           -42px;
    position:         absolute;
    background-color: constants.$signature-purple-blue-highlight;

    &:hover {
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.15);
    }
  }
}

.profile_body {
  margin-top:   3em;
  margin-left:  1em;
  margin-right: 1em;

  h1 {
    line-height:    0.47em;
    margin-left:    0.20em;
    margin-bottom: -0.10em;

    b {
      font-size: .60em;
    }

    small {
      color:     constants.$signature-purple-blue-highlight;
      font-size: 0.35em;
    }
  }
}
