@use "utils/constants";

h1 {
  text-align:         center;
  margin-block-start: 0.3333em;
}

.tabs {
  clear:        both;
  width:        95%;
  height:       calc(100% - 2em - 40px);
  position:     relative;
  margin-top:   2em;
  margin-left:  auto;
  margin-right: auto;
  line-height:  1.8em;

  display:               grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  .tab {
    float: left;

    input[type=radio] {
      display: none;

      &:checked ~ label {
        color:               #FFFFFF;
        cursor:              default;
        z-index:             2;
        outline:             0;
        border-style:        solid;
        border-top-width:    0;
        border-left-width:   0;
        border-right-width:  0;
        border-bottom-width: 2px;
        border-bottom-color: #FFFFFF;

        & ~ .content {
          display: flex;
          z-index: 1;
        }
      }
    }

    label {
      left:        1px;
      color:       constants.$signature-purple-blue-highlight;
      cursor:      pointer;
      display:     block;
      position:    relative;
      font-size:   1.3em;
      text-align:  center;
      font-family: 'josefin_sans_std';
    }

    ul.content {
      top:           28px;
      left:          0;
      right:         0;
      bottom:        0;
      margin:        0;
      display:       none;
      padding:       0;
      position:      absolute;
      flex-flow:     column;
      background:    constants.$signature-purple;
      padding-top:   0.5em;
      padding-left:  1.5em;
      padding-right: 1.5em;

      li {
        padding:       0.5em;
        display:       flex;
        align-items:   flex-start;
        border-bottom: 0.5px solid constants.$signature-periwinkle;

        a {
          display:         flex;
          align-items:     flex-start;
          text-decoration: none;

          .icon {
            width:         48px;
            border-radius:  5px;
          }

          .result-info {
            display:            grid;
            margin-left:        .45em;
            grid-template-rows: 24px 24px;

            &.post {
              grid-template-rows: 24px 1fr;
            }

            .account-name {
              color:      constants.$default-site-white;
              font-size:   0.9em;
              margin-top: -0.2em;
            }

            .account-address {
              color:      constants.$signature-periwinkle;
              font-size:   0.8em;
              margin-top: -0.3em;
            }

            .post-content {
              color:        constants.$default-site-white;
              font-size:    0.85em;
              line-height:  1.30em;
              padding-left: 0.90em;

              p:first-child {
                margin-block-start: 0.6em;
              }

              .mention {
                color: #4E3576;

                .hashtag {
                  color: #6d32a8;
                }
              }

              span.invisible {
                width:       0;
                height:      0;
                display:     inline-block;
                font-size:   0;
                line-height: 0;
              }

              span.ellipsis {
                &::after {
                  content: "…";
                }
              }
            }
          }
        }

        svg {
          width:         30px;
          height:        30px;
          margin-top:    auto;
          margin-left:   auto;
          margin-right:  1em;
          margin-bottom: auto;

          &:hover {
            cursor: pointer;
          }

          &.icon-gridicons-user-add {
            &.follow-icon_clicked {
              display: none;
            }

            path, circle {
              fill: #AEA3B2;
            }
          }
          &.icon-gridicons-user {
            &.following-icon_clicked {
              display: none;
            }

            path {
              fill: constants.$signature-purple-blue-highlight;
            }
          }
        }
      }
    }
  }
}
