@use "utils/constants";

/* Red:    #CF000F
   Blue:   #007FAA  // #1c4bce   // #1e90ff
   Green:  #008040  // #1D632E   // #006633
   Purple: #7600a8  // #8B00C7?  // #9E0096?
   Cyan?   #117EB0/#1595D1
   Orange? #a72b00
   Brown?  #802200 */
.dash_account {
  color:            constants.$default-site-standard-dark-text-color;
  margin:           2em;
  padding:          1px 1.8em 1.8em;
  margin-top:       2.5em;
  box-shadow:       -1px -1px 10px #1A1A1A;
  border-radius:    5px;
  background-color: #FFFFFF;

  @media #{constants.$mobile-and-down} {
    margin-left:  0;
    margin-right: 0;
  }

  .account_details {
    margin-left:  auto;
    margin-right: auto;

    header {
      height:        315.0px;
      position:      relative;
      margin-top:     -1.0em;
      margin-bottom:   1.1em;

      img#header-image {
        width:         calc(100%);
        height:        265px;
        object-fit:    cover;
        border-radius: 5px;
      }

      img#profile-icon {
        left:          calc(50% - 50px);
        width:         100px;
        height:        100px;
        bottom:        0;
        position:      absolute;
        box-shadow:    -1px -1px 10px #1A1A1A;
        object-fit:    cover;
        border-radius: 100px;
      }
    }

    .details_row {
      display:               -ms-grid;
      display:               grid;
      grid-gap:              20px;
      margin-bottom:         30px;
      -ms-grid-columns:      1fr 20px 1fr 20px 1fr 20px 1fr;
      grid-template-columns: 1fr 3fr;

      @media #{constants.$mobile-and-down} {
        grid-gap:              0.25em;
        grid-template-rows:    1.50em 1fr;
        grid-template-columns: unset;
      }

      .details_left {
        font-weight:          bold;
        -ms-grid-column-span: 1;
      }
      .details_right {
        -ms-grid-column-span: 3;
      }
    }

    input[type=email]:active,
    input[type=email]:focus,
    input[type=number]:active,
    input[type=number]:focus,
    input[type=password]:active,
    input[type=password]:focus,
    input[type=text]:active,
    input[type=text]:focus,
    textarea:active,
    textarea:focus              {
      border-color: #1e90ff; /* #1c4bce */
    }

    input[type=email],
    input[type=number],
    input[type=password],
    input[type=text],
    textarea             {
      box-sizing:    border-box;
      font-size:     16px;
      display:       block;
      width:         100%;
      outline:       0;
      font-family:   inherit;
      resize:        vertical;
      border:        1px solid constants.$default-site-standard-dark-text-color;
      border-radius: 4px;
      padding:       10px;
      margin-top:    -4px;
    }

    button {
      width:      100%;
      color:      #FFFFFF;
      background: #7B11B0;
    }
  }
}
