@use "utils/constants";

$button-breadth-large:  153.0px;
$button-breadth-medium:  76.5px;
$button-breadth-small:   45.0px;

.dash_side {
  right:              0;
  width:              $button-breadth-large;
  height:             100%;
  display:            grid;
  position:           fixed;
  text-align:         center;
  box-shadow:         inset 30px 0 45px -30px #000000;
  font-family:        'josefin_sans_stdlight';
  background-color:   #1A1A1A;
  grid-template-rows: repeat(7, 14.29%);

  @media #{constants.$medium-and-down} {
    width:                 100%;
    left:                  0;
    right:                 0;
    bottom:                0;
    z-index:               99;
    box-shadow:            inset 0 30px 45px -30px #000000;
    grid-template-rows:    unset;
    grid-template-columns: repeat(7, 14.29%);
  }
  @media #{constants.$medium-only} {
    height: $button-breadth-medium;
  }
  @media #{constants.$small-and-down} {
    height: $button-breadth-small;
  }

  & > a {
    color:           #FFFFFF;
    text-decoration: none;
  }

  & > .dash_button {
    width:              80%;
    height:             100%;
    display:            grid;
    position:           relative;
    align-items:        center;
    margin-left:        auto;
    margin-right:       auto;
    margin-bottom:      -1px;
    border-bottom:      1px solid #323232;
    grid-template-rows: 66.67% 33.33%;

    @media #{constants.$medium-and-down} {
      width:         100%;
      height:        80%;
      margin-top:    auto;
      margin-left:   unset;
      border-right:  1px solid #323232;
      margin-right:  unset;
      margin-bottom: auto;
      border-bottom: none;
    }
    @media #{constants.$small-and-down} {
      grid-template-rows: 100%;
    }

    img, svg {
      max-width:     54%;
          height:    90%;
      margin-top:     5%;
      margin-left:  auto;
      margin-right: auto;

      @media #{constants.$small-and-down} {
        margin-top: 0;
      }
    }

    p {
      font-size:          8.0vh;
      line-height:        6.8vh;
      margin-block-start: 0.0em;
      margin-block-end:   0.0em;

      @media #{constants.$medium-only} {
        font-size: 2.1em;
      }
      @media #{constants.$small-and-down} {
        font-size:   1.5em;
        line-height: 0;
      }
    }

    div {
      font-size: 2.6vh;

      @media #{constants.$small-and-down} {
        display: none;
      }
    }
  }
}
