// SPDX-FileType:           SOURCE
// SPDX-FileCopyrightText:  Epic Spinners <https://github.com/epicmaxco/epic-spinners>
// SPDX-License-Identifier: MIT
@use "utils/animations";

.looping-rhombuses-spinner,
.looping-rhombuses-spinner * {
  box-sizing: border-box;
}

.looping-rhombuses-spinner {
  width:    calc(15px * 4);
  height:   15px;
  margin:   auto;
  position: relative;

  .rhombus {
    left:             calc(15px * 4);
    width:            15px;
    height:           15px;
    margin:           0 auto;
    position:         absolute;
    transform:        translateY(0) rotate(45deg) scale(0);
    animation:        looping-rhombuses-spinner-animation 2500ms linear infinite;
    border-radius:    2px;
    background-color: #ff1d5e;

    &:nth-child(1) {
      animation-delay: calc(2500ms * 1 / -1.5);
    }
    &:nth-child(2) {
      animation-delay: calc(2500ms * 2 / -1.5);
    }
    &:nth-child(3) {
      animation-delay: calc(2500ms * 3 / -1.5);
    }
  }
}
