@use "utils/constants";
@use "profiles";
@use "posts";
@use "cards";

div.tabs {
  display:               grid;
  margin-top:            2em;
  line-height:           1.8em;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  .tab {
    color:           constants.$signature-purple-blue-highlight;
    font-size:       1.3em;
    font-family:     'josefin_sans_std';
    margin-left:     auto;
    margin-right:    auto;
    text-decoration: none;

    &.selected {
      color:               #FFFFFF;
      width:               100%;
      text-align:          center;
      border-style:        solid;
      border-top-width:    0;
      border-left-width:   0;
      border-right-width:  0;
      border-bottom-width: 2px;
      border-bottom-color: #FFFFFF;
    }
  }
}
