@use "utils/constants";

#warning-modal {
  top:              0;
  left:             0;
  width:            100%;
  height:           100vh;
  display:          none;
  z-index:          100;
  position:         fixed;
  overflow:         hidden;
  transform:        translateZ(0);
  background-color: rgba(62, 54, 93, 0.95);

  div {
    margin:          auto;
    display:         flex;
    position:        relative;
    align-items:     center;
    flex-direction:  column;
    justify-content: center;

    div.warning-text {
      color:               #FFFFFF;
      width:               100%;
      padding:             0 2em;
      max-width:           540px;
      box-sizing:          border-box;
      text-align:          center;
      line-height:         1.4;
      user-select:         none;
      -moz-user-select:    none;
      -webkit-user-select: none;

      h3 {
        font-size:   1.5em;
        font-family: 'josefin_sans_stdlight';
      }
    }

    div.warning-buttons {
      width:           100%;
      height:          50px;
      margin:          0 10px;
      display:         flex;
      max-width:       400px;
      flex-wrap:       wrap;
      align-items:     center;
      justify-content: center;

      button {
        color:  constants.$signature-purple;
        margin: 15px 8px 0;

        &.cancel {
          background: #b3b9c8; // #afb6c8 // #707B97
        }

        &.affirm {
          background: #e65656;
        }
      }
    }
  }
}
