<%  colors         = ["#FF2E35", "#00B4F0", "#00C261",
                      "#FF6E3D", "#C847FF", "#148FC8"]; %>
<%  reversedNotifs = Enum.reverse(@user.notifications) %>
<%= for({notification, index} <- Enum.with_index(reversedNotifs)) do %>
  <% creator = Enum.at(notification.activity.actors, 0); %>
  <DIV class="notification-container">
    <DIV class="notification-datestamp">
      <%= if(index === 0                                                       ||
             Calendar.strftime(notification.inserted_at,
                               "%B %d, %Y") !== Calendar.strftime(Enum.at(reversedNotifs,
                                                                          index - 1)
                                                                      .inserted_at,
                                                                  "%B %d, %Y")) do %>
        <SPAN class="<%= if notification.has_been_seen, do: "no-svg", else: "" %>">
          <%= Calendar.strftime(notification.inserted_at, "%b. %d, %Y") %>
        </SPAN>
      <%  end %>

      <%= if(!notification.has_been_seen) do %>
        <SVG width="100"           height="100"
             viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <CIRCLE fill="<%= Enum.at(colors, rem(index, 6)) %>" cx="50" cy="50" r="50" />
          <CIRCLE fill="#3E365D"                               cx="50" cy="50" r="30" />
        </SVG>
      <%  end %>
    </DIV>

    <DIV class="notification">
      <DIV class="notification-actor-icon-container">
        <IMG class="notification-actor-icon"
             src="<%= case Enum.filter(creator.object.images || [],
                                       &(&1.is_icon))               do
                        []             -> "/images/missing.png";
                        [head | _tail] -> Kabare.URLs.URL.to_string(head.object
                                                                        .url);
                      end %>">
      </DIV>

      <DIV class="notification-header-container">
        <SPAN class="ellipsize">
          <B>
            <A href="<%= Swanye.ActivityPubUtils.profile_page_path(creator) %>">
              <%= creator.preferred_username %>
            </A>
          </B>

          <%= case notification.activity.object.object_type do
                "Like"     -> "liked your post";
                "Create"   -> "referenced you";
                "Announce" -> "reblogged your post";
                "Follow"   -> "followed you";
              end %>
        </SPAN>

        <SPAN class="timestamp">
          <%= Calendar.strftime(notification.inserted_at, "%I:%M:%S %p") %>
        </SPAN>
      </DIV>

      <I class="notification-sechead-container">
        <%= Calendar.strftime(notification.inserted_at, "%B %d, %Y") %>
      </I>

      <DIV class="notification-body-container">
        <%= raw(notification.activity.acted_upon_object.content) %>
      </DIV>
    </DIV>
  </DIV>
<%  end %>
