<DIV class="dash_account">
  <H1>
    Account Settings
  </H1>

  <%= form_for @changeset, Routes.account_path(@conn, :save), [as:        :update,
                                                               class:     "account_details",
                                                               multipart: true], fn f -> %>
    <HEADER>
      <% images = @user.actor.object.images %>

      <% banners = Enum.filter(images, &(!&1.is_icon)) %>
      <%= if(length(banners) > 0) do %>
            <IMG id="header-image"
                 src="<%= Kabare.URLs.URL.to_string(Enum.at(banners, 0).object.url); %>">
      <%  else %>
            <IMG id="header-image">
      <%  end %>

      <% icons = Enum.filter(images, &(&1.is_icon)) %>
      <%= if(length(icons) > 0) do %>
            <IMG id="profile-icon"
                 src="<%= Kabare.URLs.URL.to_string(Enum.at(icons, 0).object.url); %>">
      <%  else %>
            <IMG id="profile-icon">
      <%  end %>
    </HEADER>

    <DIV class="details_row">
      <DIV class="details_left">
        <%= label(f, :header_image) %>
      </DIV>

      <DIV class="details_right">
        <%= file_input(f, :header_image, [onchange: """
                                                    if(this.files && this.files[0]) {
                                                      const reader = new FileReader();

                                                      reader.onload = function(e) {
                                                                        document.getElementById("header-image")
                                                                                .setAttribute("src", e.target.result);
                                                                      };
                                                      reader.readAsDataURL(this.files[0]);
                                                    }
                                                    """]) %>
        <%=  error_tag(f, :header_image, @changeset) %>
      </DIV>
    </DIV>

    <DIV class="details_row">
      <DIV class="details_left">
        <%= label(f, :profile_icon) %>
      </DIV>

      <DIV class="details_right">
        <%= file_input(f, :profile_icon, [onchange: """
                                                    if(this.files && this.files[0]) {
                                                      const reader = new FileReader();

                                                      reader.onload = function(e) {
                                                                        document.getElementById("profile-icon")
                                                                                .setAttribute("src", e.target.result);
                                                                      };
                                                      reader.readAsDataURL(this.files[0]);
                                                    }
                                                    """]) %>
        <%=  error_tag(f, :profile_icon, @changeset) %>
      </DIV>
    </DIV>

    <DIV class="details_row">
      <DIV class="details_left">
        Username
      </DIV>

      <DIV class="details_right ellipsize">
        <%= @user.actor.preferred_username %>
      </DIV>
    </DIV>

    <DIV class="details_row">
      <DIV class="details_left">
        E-mail
      </DIV>

      <DIV class="details_right ellipsize">
        <%= @user.e_mail %>
      </DIV>
    </DIV>

    <DIV class="details_row">
      <DIV class="details_left">
        <%= label(f, :timezone) %>
      </DIV>

      <DIV class="details_right">
        <%  zones = Tzdata.zone_lists_grouped(); %>
        <%=    select(f, :timezone, ["Africa":        zones.africa,
                                     "Antarctica":    zones.antarctica,
                                     "Asia":          zones.asia,
                                     "Australasia":   zones.australasia,
                                     "Europe":        zones.europe,
                                     "North America": zones.northamerica,
                                     "South America": zones.southamerica,
                                     "Et Cetera":     zones.etcetera]) %>
        <%= error_tag(f, :timezone, @changeset) %>
      </DIV>
    </DIV>

    <DIV class="details_row">
      <DIV class="details_left">
        <%= label(f, :display_name) %>
      </DIV>

      <DIV class="details_right">
        <%= text_input(f, :display_name, [placeholder: "Name",
                                          maxlength:   30]) %>
        <%=  error_tag(f, :display_name, @changeset) %>
      </DIV>
    </DIV>

    <DIV class="details_row">
      <DIV class="details_left">
        <%= label(f, :bio) %>.
      </DIV>

      <DIV class="details_right">
        <%=  textarea(f, :bio, [placeholder: "Biography",
                                maxlength:   500,
                                rows:        5]) %>
        <%= error_tag(f, :bio, @changeset) %>
      </DIV>
    </DIV>

    <%= submit("Save Changes") %>
  <% end %>
</DIV>
