.dash_account {
	color:            #444444;
	padding:          1.5em;
	margin:           2em;
	margin-top:       2.5em;
	box-shadow:       -1px -1px 10px #1A1A1A;
	border-radius:    5px;
	background-color: #FFFFFF;
}

.dash_account p {
	font-family: 'josefin_sans_std';
}
