@import "font.css";

body {
	color:       #FFFFFF;
	margin:      0;
	font-family: 'josefin_sans_stdlight';
}

.dash_main {
	width:            calc(100% - 25.5% - 153px - 40px);
	height:           100%;
	padding:          20px;
	overflow:         hidden;
	background-color: #3E365D;
}

.dash_settings {
	right:            153px;
	width:            25.5%;
	height:           100%;
	position:         fixed;
	padding-top:      20px;
	background-color: #3E365D;
}

.dash_settings input[type=text] {
	color:            #AEA8D3;
	width:            calc(100% - (100% / 17.5));
	border:           none;
	font-size:        1.2em;
	font-family:      inherit;
	margin-top:       20px;
	margin-left:      calc(100% / 35);
	margin-right:     calc(100% / 35);
	padding-left:     2px;
	border-bottom:    1px solid #AEA8D3;
	background-color: #3E365D;
}
.dash_settings input[type=text]:focus {
	outline-width: 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B2CCE5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #B2CCE5;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #B2CCE5;
}

#search_results {
	margin-top:    20px;
	margin-left:   calc(100% / 35);
	margin-right:  calc(100% / 35);
}

.search_result {
	padding-top:    5px;
	border-bottom:  1px solid #AEA8D3;
	padding-bottom: 5px;
}

.search_result span {
	font-size: 1.2em;
}

.follow_icon {
	float:           right;
	width:           15px;
	height:          15px;
	background:      url("data:image/svg+xml;charset=utf8,%3Csvg%20height='1792'%20viewBox='0%200%201792%201792'%20width='1792'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20fill='%23fff'%20d='M576%20896q-159%200-271.5-112.5t-112.5-271.5%20112.5-271.5%20271.5-112.5%20271.5%20112.5%20112.5%20271.5-112.5%20271.5-271.5%20112.5zm960%20128h352q13%200%2022.5%209.5t9.5%2022.5v192q0%2013-9.5%2022.5t-22.5%209.5h-352v352q0%2013-9.5%2022.5t-22.5%209.5h-192q-13%200-22.5-9.5t-9.5-22.5v-352h-352q-13%200-22.5-9.5t-9.5-22.5v-192q0-13%209.5-22.5t22.5-9.5h352v-352q0-13%209.5-22.5t22.5-9.5h192q13%200%2022.5%209.5t9.5%2022.5v352zm-736%20224q0%2052%2038%2090t90%2038h256v238q-68%2050-171%2050h-874q-121%200-194-69t-73-190q0-53%203.5-103.5t14-109%2026.5-108.5%2043-97.5%2062-81%2085.5-53.5%20111.5-20q19%200%2039%2017%2079%2061%20154.5%2091.5t164.5%2030.5%20164.5-30.5%20154.5-91.5q20-17%2039-17%20132%200%20217%2096h-223q-52%200-90%2038t-38%2090v192z'/%3E%3C/svg%3E");
	margin-top:      3px;
	margin-right:    5px;
	background-size: 15px;
}

.dash_settings_nav {
	width:      100%;
	text-align: center;
}

.dash_settings_nav img {
	height:       28px;
	display:      inline-block;
	text-align:   center;
	margin-left:  calc(100% / 35);
	margin-right: calc(100% / 35);
}

.dash_side {
	right:            0;
	width:            153px;
	height:           100%;
	position:         fixed;
	text-align:       center;
	box-shadow:       inset 30px 0 45px -30px #000000;
	background-color: #1A1A1A;
}

.dash_button {
	width:         80%;
	height:        14.29%;
	display:       inline-block;
	position:      relative;
	text-align:    center;
	border-bottom: 1px solid #323232;
	margin-bottom: -1px;
}

.dash_button img {
	max-width:     54%;
	max-height:    75%;
	margin-top:    2%;
	margin-bottom: -7px;
}

.dash_buttom p {
	font-size:          9.15vh;
	margin-block-start: -.1em;
	margin-block-end:   -.15em;
}
