@import "font.css";

body {
	color:       #FFFFFF;
	margin:      0;
	font-family: 'josefin_sans_stdlight';
}

.dash_main {
	width:            auto;
	height:           100%;
	overflow:         hidden;
	background-color: #3E365D;
}

.dash_settings {
	float:            right;
	width:            25.5%;
	height:           100%;
	padding-top:      20px;
	background-color: #3E365D;
}

.dash_settings input[type=text] {
	color:            #AEA8D3;
	width:            calc(100% - (100% / 17.5));
	border:           none;
	font-size:        1em;
	font-family:      inherit;
	margin-top:       20px;
	margin-left:      calc(100% / 35);
	margin-right:     calc(100% / 35);
	padding-left:     2px;
	border-bottom:    1px solid #AEA8D3;
	background-color: #3E365D;
}
.dash_settings input[type=text]:focus {
	outline-width: 0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B2CCE5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #B2CCE5;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #B2CCE5;
}

.dash_settings_nav {
	width:      100%;
	text-align: center;
}

.dash_settings_nav img {
	height:       28px;
	display:      inline-block;
	text-align:   center;
	margin-left:  calc(100% / 35);
	margin-right: calc(100% / 35);
}

.dash_side {
	float:            right;
	width:            153px;
	height:           100%;
	text-align:       center;
	box-shadow:       inset 30px 0 45px -30px #000000;
	background-color: #1A1A1A;
}

.dash_button {
	width:         80%;
	height:        14.29%;
	display:       inline-block;
	position:      relative;
	text-align:    center;
	border-bottom: 1px solid #323232;
	margin-bottom: -1px;
}

.dash_button img {
	max-width:     54%;
	max-height:    75%;
	margin-top:    2%;
	margin-bottom: -7px;
}

.dash_buttom p {
	font-size:          9.15vh;
	margin-block-start: -.1em;
	margin-block-end:   -.15em;
}
