@font-face {
	font-family: 'josefin_sans_stdlight';
	src:         local(''),
	             url('../font/JosefinSans-Light.woff2') format('woff2'),
	             url('../font/JosefinSans-Light.woff')  format('woff'),
	             url('../font/JosefinSans-Light.ttf')   format('truetype');
	font-weight: normal;
	font-style:  normal;
}
