<META charset="utf-8"                                                                                  />
<META http-equiv="X-UA-Compatible" content="IE=edge"                                                   />
<META name="viewport"              content="width=device-width, initial-scale=1.0"                     />
<META name="robots"                content="noindex, noarchive"                                        />
<META name="csrf-token"            content="<%= Phoenix.Controller.get_csrf_token() %>" id="meta-csrf" />
<META name="theme-color"           content="#3E365D"                                                   />

<LINK rel="apple-touch-icon" href="/images/pwa_icon_2.png" />
<LINK rel="manifest"         href="/manifest.json"         />
