<!-- SPDX-FileType:           SOURCE                                                     -->
<!-- SPDX-FileCopyrightText:  Epic Spinners <https://github.com/epicmaxco/epic-spinners> -->
<!-- SPDX-License-Identifier: MIT                                                        -->

<DIV class="spinner looping-rhombuses-spinner">
  <DIV class="rhombus"></DIV>
  <DIV class="rhombus"></DIV>
  <DIV class="rhombus"></DIV>
</DIV>
