<%= for(activity <- @postActivities) do %>
  <%= if(activity.acted_upon_object.object_type !== "Tombstone") do %>
    <%= render(SwanyeWeb.LayoutView,   "site_parts/post_template.html",
               postActivity: activity, user: @loggedInUser,             conn: @conn); %>
  <%  end %>
<%  end %>
