@keyframes fade_in_show {
  0% {
    opacity:          0;
    transform:        scaleY(0);
    transform-origin: top left;
  }

  100% {
    opacity:   1;
    transform: scaleY(1)
  }
}

@keyframes looping-rhombuses-spinner-animation {
  0% {
    transform: translateX(0)     rotate(45deg) scale(0);
  }
  50% {
    transform: translateX(-233%) rotate(45deg) scale(1);
  }
  100% {
    transform: translateX(-466%) rotate(45deg) scale(0);
  }
}
