/*****************
 *  C O L O R S  *
 *****************/
$default-site-standard-dark-text-color: #444444;
$default-site-darker-text-color:        #222222;
$signature-purple:                      #3E365D;
$signature-purple-blue-highlight:       #B5D3D9;
$signature-periwinkle:                  #AEA8D3;
$disabled-text-color:                   #666666;
$disabled-bg-color:                     #CCCCCC;
$default-site-white:                    #FFFFFF;


/*************************
 *  D I M E N S I O N S  *
 *************************/
$mobile-screen-up:  511px;
$small-screen-up:   768px;
$medium-screen-up: 1025px;
$large-screen-up:  1367px;
$mobile-screen:     510px;
$small-screen:      767px;
$medium-screen:    1024px;
$large-screen:     1366px;
$hd-screen:        1920px;

$small-and-up:    "only screen and (min-width: #{$mobile-screen-up})"                                    !default;
$medium-and-up:   "only screen and (min-width: #{$small-screen-up})"                                     !default;
$large-and-up:    "only screen and (min-width: #{$medium-screen-up})"                                    !default;
$mobile-and-down: "only screen and (max-width: #{$mobile-screen})"                                       !default;
$small-and-down:  "only screen and (max-width: #{$small-screen})"                                        !default;
$medium-and-down: "only screen and (max-width: #{$medium-screen})"                                       !default;
$small-only:      "only screen and (min-width: #{$mobile-screen-up}) and (max-width: #{$small-screen})"  !default;
$medium-only:     "only screen and (min-width: #{$small-screen-up})  and (max-width: #{$medium-screen})" !default;
$hd-only:         "only screen and (min-width: #{$hd-screen})"                                           !default;
